<script>
    import marked from 'marked';
    import LinkPreview from './linkPreview.svelte'
    export let roomMsg = {}

    function newLine2Break(msg) {
        return msg.replace(/\n/gim, (match, newLine) => {
            return '<br>'
        })
    }

    let markdMsg = marked(newLine2Break(roomMsg.msg))
</script>

<style>
    img {
        object-fit: cover;
        width: 40px;
        height: 40px;
    }

    .uk-comment-body {
        font-size: 15px;
        color: #000000;
    }
</style>

<article class="uk-comment uk-card-small uk-card-default uk-card-body">
    <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>

        <div class="uk-width-auto">
            <img class="uk-comment-avatar" src="{roomMsg.senderImg}" width="60" height="60" alt="">
        </div>

        <div class="uk-width-expand">
            <div class="uk-comment-title uk-subnav uk-flex uk-flex-between" style="margin-bottom:5px;">
                <a class="uk-link-reset" style="font-size:16px;" href="/">{roomMsg.senderName}</a>

                <span uk-icon="icon: happy"></span>
            </div>

            <ul class="uk-comment-meta uk-subnav uk-margin-remove-top">
                <li>
                    <a href="/" style="font-size:12px;color:#555555;">{roomMsg.sendTime}</a>
                </li>
            </ul>
        </div>
    </header>

    <div class="uk-comment-body">
        <p>{@html markdMsg}</p>
        <LinkPreview roomMsg={roomMsg} />
    </div>

</article>