<script>
    export let roomMsg = {}

    function youtube_parser(url){
        let regExp = /^.*(youtu\.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
        let match = url.match(regExp);
        if (match && match[2].length == 11) {
            return match[2];
        } else {
            //error
            console.error('invalid youtube url')
        }
    }
</script>

<style>
    #linkPreview {
        border-top: 1px solid rgb(229, 229, 229);border-right: 1px solid rgb(229, 229, 229);border-bottom: 1px solid rgb(229, 229, 229);border-left:3px solid #1b93f9;padding: 10px;
    }
</style>

{#if roomMsg.linkPreview || roomMsg.linkPreview != ''}
    {#if roomMsg.linkPreview.url}
        <a href="{roomMsg.linkPreview.url}" target="_blank">
            <div id="linkPreview">
                <div>{roomMsg.linkPreview.title}</div>

                <div style="font-size: 12px;">
                    {#if roomMsg.linkPreview.favicons}
                        <img src="{roomMsg.linkPreview.favicons[0]}" alt="" style="width:20px;object-fit:contain;">
                    {/if}

                    {#if roomMsg.linkPreview.siteName}
                        <span>{roomMsg.linkPreview.siteName}</span>
                    {/if}

                    {#if roomMsg.linkPreview.siteName !== 'YouTube' && roomMsg.linkPreview.images}
                        <img src="{roomMsg.linkPreview.images[0]}" alt="" style="width:100%;height:100%;max-height:400px;">
                    {/if}
                </div>
            </div>
        </a>
    {/if}
{/if}

{#if roomMsg.linkPreview.mediaType == 'video' || roomMsg.linkPreview.mediaType == 'video.other'}
    {#if roomMsg.linkPreview.siteName == 'YouTube'}
        <iframe title="{roomMsg.linkPreview.title}" style="width:100%;height:320px;max-height:400px;"
src="{`https://www.youtube.com/embed/${youtube_parser(roomMsg.linkPreview.url)}`}">
        </iframe> 
    {/if}
{/if}