<script>
import 'lazysizes';

let roomMembers = [],
    mappedRoomMembers = roomMembers

const searchRoomMembers = (query) => {
    roomMembers = roomMembers.filter((member) =>  member.toLowerCase().indexOf(query.toLowerCase()) !== -1)
}
</script>
<style>
    img {
        object-fit: cover;
        width: 40px;
        height: 40px;
    }

    /* For mobile phones: */

    #member-grid {
        width: 100%;
        height: 100vh;
    }

    #memberList {
        margin: 5%;
        background-color: transparent;
    }

    #searchInput {
        margin: 0 10px;
        width: -webkit-fill-available;
    }

    @media only screen and (min-width: 768px) {
        
        #member-grid {
            width: 200px;
        }
        #memberList {
            height: 100%;
        }
        #memberList:hover {
            overflow-x: hidden;
            overflow-y: auto;
            scrollbar-width: none;
            /* Firefox */
        }
        #memberList:hover::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }
</style>
<div id="member-grid">
    <h4 style="font-family: 'Open Sans'; font-size:15px; padding: 15px;margin: 0;">
        <span uk-icon="icon: users"></span> Members
    </h4>

    <div class="uk-inline" id="searchInput">
        <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: search"></span>
        <input class="uk-input uk-form-small" type="text" placeholder="Search member...">
    </div>
    <div class="uk-background-default uk-dark uk-panel uk-padding-small" id="memberList">
        <!-- <div class="uk-panel">
            <img class="uk-align-center uk-align-left uk-margin-remove-adjacent lazyload" data-src="imgs/avatar.jpg"
                style="margin-right:10px;border-radius:50px;" width="40" height="40" alt="Example image">
            <div>

                <span style="display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;font-size:14px;" uk-tooltip="title: Lorem ipsum dolor; pos: right">Lorem ipsum dolor</span>
                <span style="font-size: 10px;color:green;">Online</span>
            </div>
        </div> -->
        <div class="uk-panel">
            <img class="uk-align-center uk-align-left uk-margin-remove-adjacent lazyload" data-src="imgs/cyberpunk-2077-keyart-1220x686.jpg" style="margin-right:10px;" width="40" height="40"
                alt="Example image">
            <div>

                <span style="display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;font-size:14px;" uk-tooltip="title: Lorem ipsum dolor; pos: right">Felix Aston</span>
                <span style="font-size: 10px;color:green;">Online</span>
            </div>
        </div>
        <div class="uk-panel">
            <img class="uk-align-center uk-align-left uk-margin-remove-adjacent lazyload" data-src="imgs/avatar.jpg"
                style="margin-right:10px;" width="40" height="40" alt="Example image">
            <div>

                <span style="display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;font-size:14px;" uk-tooltip="title: Lorem ipsum dolor; pos: right">Ash</span>
                <span style="font-size: 10px;color:red;">Offline</span>
            </div>
        </div>
        <div class="uk-panel">
            <img class="uk-align-center uk-align-left uk-margin-remove-adjacent lazyload" data-src="imgs/avatar.jpg"
                style="margin-right:10px;" width="40" height="40" alt="Example image">
            <div>

                <span style="display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;font-size:14px;" uk-tooltip="title: Lorem ipsum dolor; pos: right">Jack Ree</span>
                <span style="font-size: 10px;color:#4a9ff5;">Don't disturb</span>
            </div>
        </div>
    </div>
</div>