<script>
    import ChatEditor from '../../components/chatEditor.svelte'
    import {
        link
    } from 'svelte-spa-router'
    import MyVideo from '../../components/myVideo.svelte'
    import MyFriendVideo from '../../components/myFriendVideo.svelte'
    import {
        callAccepted,
        callActive,
        draggableVideoVisible,
        isMobile,
    } from '../../store.js'
    import VideoCall from './videoCall.svelte'
    import {
        onMount,
        onDestroy
    } from 'svelte'

    let initiateVideoCall = () => {
        callActive.set(true)
    }
    onMount(() => {
        draggableVideoVisible.set(false)
    })
    onDestroy(() => {
        draggableVideoVisible.set(true)
    })
</script>
<style>
    #member-grid {
        width: 450px;
        height: 100vh;
        overflow: hidden;
    }

    #chat-grid {
        min-width: 350px;
    }

    #server-room-title {
        height: 75px;
        max-height: 7vh;
    }

    #serverMobileMenuBtn,
    #roomMembersBtn {
        display: none;
    }

    @media only screen and (max-width: 768px) {

        /* For mobile phones: */
        #member-grid {
            display: none;
        }

        #serverMobileMenuBtn,
        #roomMembersBtn {
            display: inline;
        }
    }
</style>
<div class="uk-width-expand" id="chat-grid">
    <div class="uk-background-secondary uk-panel">
        <div class="uk-flex uk-flex-column" style="height: 100vh;">
            <div class="uk-navbar uk-navbar-container" id="server-room-title" uk-navbar>
                <div class="uk-navbar-left" id="serverMobileMenuBtn">
                    <span uk-icon="icon: menu" class="uk-padding-small" uk-toggle="target: #offcanvas-flip"></span>
                </div>
                <div class="uk-navbar-center">
                    <span># general room</span>
                </div>
                <div class="uk-navbar-right">
                {#if $isMobile}
                    <a href="/videoCall/1" use:link><span uk-icon="icon: video-camera" id="videoCallBtn"
                            class="uk-padding-small"></span></a>
                {:else}
                    <button class="uk-button uk-button-default" on:click={initiateVideoCall} disabled="{($callAccepted) ? 'disabled':''}"><span uk-icon="icon: video-camera" id="videoCallBtn"
                            class="uk-padding-small"></span></button>
                {/if}
                    <span uk-icon="icon: users" id="roomMembersBtn" class="uk-padding-small"
                        uk-toggle="target: #offcanvas-flip-right"></span>
                </div>
            </div>
            <div class="uk-background-muted uk-dark" style="flex-grow:1;overflow-y:auto;overflow-x:hidden;">

                <!--component-->
            </div>
            <ChatEditor />
        </div>
    </div>
</div>
<!-- <div id="member-grid">
    <div class="uk-inline uk-background-secondary uk-light uk-panel">
        {#if $callActive || $callAccepted}
        <div class="uk-flex uk-flex-column" style="height:100vh;">
            <div class="uk-panel" style="height:50%;">
            {#if $callAccepted}
                <MyFriendVideo />
            {:else}
                <div class="uk-position-center uk-overlay" style="font-size:20px;">
                        <div class="uk-text-center uk-margin-bottom">
                            <img class="uk-comment-avatar" src="imgs/avatar.jpg" width="80" height="80" alt="">
                            <p class="uk-dark" style="font-size:20px;">Calling Mim...</p>
                        </div>
                    </div>
            {/if}
            </div>
            <div class="uk-panel" style="height:50%;">
                <MyVideo />
            </div>
        </div>
        <div class="uk-width-expand uk-position-bottom uk-overlay" style="background-color:rgba(255, 255, 255, 0);margin: 0; padding: 0;">
            {#if $callAccepted}
            <div class="uk-padding-small uk-flex uk-flex-between">
                <VideoControls />
            </div>
            {:else}
            <div class="uk-padding-small uk-flex uk-flex-center">
                <VideoControlsForCalling />
            </div>
            {/if}
        </div>
        {:else}
        <div class="uk-flex uk-flex-column" style="height:100vh;">
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    <h3 class="uk-card-title">Primary</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
        {/if}
    </div>
</div> -->
<div id="member-grid">
    <div class="uk-inline uk-background-secondary uk-light uk-panel">
        {#if $callActive || $callAccepted}
            <VideoCall />
        {:else}
            <div class="uk-flex uk-flex-column" style="height:100vh;">
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <h3 class="uk-card-title">Primary</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        {/if}
    </div>
</div>