<script>
    import ServersList from '../../components/servers.svelte'
    import ServerRooms from '../../components/rooms.svelte'
    import ChatEditor from '../../components/chatEditor.svelte'
    import ChatMessage from '../../components/roomChat/chat_msg.svelte'
    import MemberGrid from '../../components/roomChat/member_status.svelte'
    import OtherRoomsFeeds from '../../components/otherRoomsFeeds.svelte'
    import {
        location,
        push
    } from 'svelte-spa-router'
    import {
        currentRouteParams,
        socket,
    } from '../../store.js'
    import { beforeUpdate, onMount, onDestroy, afterUpdate } from 'svelte';

    export let params = {}
    let currentChatRoom = 'default'

    let roomMsgs = [],
        feedsAndNotifs = []

    $: if(`room${params.serverId}/${params.roomId}` != currentChatRoom){
        currentChatRoom = `room${params.serverId}/${params.roomId}` // will be changed to roomId later
        currentRouteParams.set(params)
        roomMsgs = [{
            senderImg: 'imgs/avatar.jpg',
            senderName: 'Hasib',
            sendTime: '',
            msg: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor',
            linkPreview: {}
        }]
    }

    if ($location !== '/') {
        push($location)
    }

    let chatbox

    onMount(async () => {
        // Fetch from server
        roomMsgs = await [{
            senderImg: 'imgs/avatar.jpg',
            senderName: 'Hasib',
            sendTime: '',
            msg: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor',
            linkPreview: {}
        }]
    })

    onDestroy(() => {
        roomMsgs = []
    })

    socket.on('newMessage',(newMessage) => {
        console.log("TCL: newMessage", newMessage)
        if(newMessage.room == currentChatRoom)
            roomMsgs = [...roomMsgs, newMessage.message]
        else
            feedsAndNotifs = [...feedsAndNotifs, newMessage.message]
    })

    function createMsg(msg, linkPreview){
        return {
            senderImg: 'imgs/avatar.jpg',
            senderName: 'Hasib',
            sendTime: '',
            msg: msg,
            linkPreview: linkPreview,
        }
    }

    let autoscroll;

    beforeUpdate(() => {
        autoscroll = chatbox && (chatbox.offsetHeight + chatbox.scrollTop) > (chatbox.scrollHeight - 20);
    })

    afterUpdate(() => {
		if (autoscroll) chatbox.scrollTo(0, chatbox.scrollHeight);
	});

    function handleMessage(event) {
        let msg = event.detail.msg
        let linkPreviewObj = event.detail.linkPreview
        let createdMsg = createMsg(msg, linkPreviewObj)
        // roomMsgs = [...roomMsgs, createdMsg]
        socket.emit('message',{
            room: currentChatRoom,
            message: createdMsg
        })
        // chatbox.scrollTop = chatbox.scrollHeight - chatbox.clientHeight
	}
</script>

<style>
    #feed-grid {
        width: 250px;
        height: 100vh;
        display: flex;
    }

    #chatbox {
        flex-grow: 1;
        overflow-y: auto;
        overflow-x: hidden;
    }

    /* #chatbox:hover {
        overflow-y: auto;
        scrollbar-width: none;
    }
    #chatbox:hover::-webkit-scrollbar{
        width: 0;
        height: 0;
    } */

    #chat-grid {
        min-width: 350px;
    }

    #server-room-title-desktop {
        height: 75px;
        max-height: 7vh;
        background-color: #ffffff;
        font-size: 15px;
    }

    #server-room-title-mobile {
        display: none;
    }

    /* #serverMobileMenuBtn, #roomMembersBtn {
		display: none;
	} */

    @media only screen and (max-width: 768px) {

        /* For mobile phones: */
        #feed-grid,#member-grid {
            display: none;
        }

        #server-room-title-mobile {
            display: inline-flex;
            font-size: 15px;
        }

        #server-room-title-desktop {
            display: none;
        }

        /* #serverMobileMenuBtn, #roomMembersBtn {
			display: inline;
		} */
    }
</style>

<div class="uk-width-expand" id="chat-grid">
    <div class="uk-background-secondary uk-panel">
        <div class="uk-flex uk-flex-column" style="height: 100vh;">

            <div class="uk-navbar uk-navbar-container" id="server-room-title-desktop" uk-navbar
                uk-tooltip="title:#general-room &#x1F3AE; What to do! &#x1F44C;;pos: bottom">

                <div class="uk-navbar-left">
                    <span style="margin-right:5px;padding-left: 15px;">
                        <b><span uk-icon="icon: hashtag"></span> general-room</b>
                    </span>
                </div>

                <div class="uk-navbar-center">
                    <span>&#x1F3AE; What to do! &#x1F44C;</span>
                </div>

                <div class="uk-navbar-right">
                    <span uk-icon="icon: question"></span>
                </div>
            </div>

            <div class="uk-navbar uk-navbar-container" id="server-room-title-mobile" uk-navbar>

                <div class="uk-navbar-left">
                    <span uk-icon="icon: menu" class="uk-padding-small" uk-toggle="target: #offcanvas-flip"></span>
                </div>

                <div class="uk-navbar-center">
                    <span>&#x1F3AE; What to do! &#x1F44C;</span>
                </div>

                <div class="uk-navbar-right">
                    <span uk-icon="icon: users" class="uk-padding-small"
                        uk-toggle="target: #offcanvas-flip-right"></span>
                </div>
            </div>

            <div class="uk-background-muted uk-dark" bind:this={chatbox} id="chatbox">
                {#each roomMsgs as roomMsg}
                    <ChatMessage roomMsg={roomMsg}/>
                {:else}
                    <!-- this block renders when photos.length === 0 -->
                    <p>loading...</p>
                {/each}
            </div>

            <ChatEditor on:chatInputMessage={handleMessage}/>

        </div>
    </div>
</div>
<div id="member-grid">
    <MemberGrid />
</div>
<div id="feed-grid">
    <OtherRoomsFeeds roomFeeds={feedsAndNotifs}/>
</div>