@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html, body {
	position: relative;
	width: 100%;
	height: 100vh;
}

body {
	color: #333;
	margin: 0;
	padding: 0;
	font-size: 13px;
	box-sizing: border-box;
	font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
::-webkit-scrollbar-track {
	background: #1e87f0;
	}

	.serverVerified > svg > polyline {
		stroke-width: 3;
		color: #fff;
	}
	
.emoji-picker {
	border-radius: 0 !important;
	box-shadow: 0px 0px !important;
	background-color: white !important;
}
.emoji-picker__search {
	padding: 15px !important;
}
.emoji-picker__emoji {
	font-size: 2.4em !important;
}
.emoji-picker__tab {
	font-size: 2rem !important;
}
a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.pb-0 {
    padding-bottom:0;
}
.mb-0 {
    margin-bottom:0;
}

.font-20px {
	font-size:20px !important;
}

.colorWhite {
	color:#ffffff !important;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

textarea {
	resize: none;
}
