<script>
import ServersList from '../../components/servers.svelte'
import ServerRooms from '../../components/rooms.svelte'
import ChatEditor from '../../components/chatEditor.svelte'
import OtherRoomsFeeds from '../../components/otherRoomsFeeds.svelte'
import {isMobile} from '../../store.js'
</script>

<style>
    img {
        object-fit: cover;
        width: 30px;
        height: 30px;
    }
    #feed-grid {
        display: none;
		width: 250px;
		height: 100vh;
    }
    
    #me-grid {
        height: 100%;
        padding: 10px;
        overflow: hidden;
	}
	/* #serverMobileMenuBtn, #roomMembersBtn {
		display: none;
    } */
    #mobileTopBar {
        height: 50px;
        position: sticky;
        top: 0;
        z-index: 2;
    }
    #me-grid-container {
       overflow-y:auto;
       height:100%; 
    }
    tr > td:nth-child(1), tr > :nth-child(2){
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
	@media only screen and (min-width: 768px) {
        /* For mobile phones: */
        #mobileTopBar {
            display: none;
        }
        #me-grid {
            min-width: 400px;
        }
        #me-grid:hover {
            overflow-y: auto;
            scrollbar-width: none;
            /* Firefox */
        }

        #me-grid:hover::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
		#feed-grid {
			display: flex;
        }
        #me-grid-container {
            overflow-x: hidden;
            overflow-y: hidden;
        }

        #me-grid-container:hover {
            overflow-y: auto;
            scrollbar-width: none;
            /* Firefox */
        }

        #me-grid-container:hover::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
	}
</style>

<div class="uk-width-expand" id="me-grid">
    <div class="uk-navbar uk-navbar-container" id="mobileTopBar" uk-navbar>

                <div class="uk-navbar-left">
                    <span uk-icon="icon: menu" class="uk-padding-small" uk-toggle="target: #offcanvas-flip"></span>
                </div>
                <div class="uk-navbar-center" style="font-size: 20px;">
                    <span uk-icon="icon: uikit" style="color:#4a9ff5;padding-right:5%;"></span> 4sparrow
                </div>
    </div>
    <div class="uk-container" id="me-grid-container">
        <ul uk-tab style="overflow-x:auto;flex-wrap:nowrap;">
            <li class="uk-active" style="flex:auto;"><a href="#"><span uk-icon="icon: heart"></span> Friends</a></li>
            <li style="flex:auto;"><a href="#"><span uk-icon="icon: question"></span> Requests</a></li>
            <li style="flex:auto;"><a href="#"><span uk-icon="icon: ban"></span> Blocked</a></li>
        </ul>
        <ul class="uk-switcher uk-margin">
            <li>
                <div uk-grid>
                    <div class="uk-width-3-5@s">
                        <h4>Add Friend</h4>
                    </div>
                    <div class="uk-width-2-5@s">
                        <button class="uk-button uk-button-default uk-width-1-1 uk-button-medium  uk-align-right" uk-toggle="target: #createMessagingGroupModal" type="button">
                        <span uk-icon="icon: plus-circle"></span> Create Group
                        </button>
                    </div>
                </div>
                <!-- This is the modal -->
                        <div id="createMessagingGroupModal" uk-modal>
                            <div class="uk-modal-dialog uk-modal-body" style="width: 450px;">
                                <div style="font-size:18px;">Add friends to create Group</div>
                                <div class="uk-margin">
                                    <div class="uk-inline uk-width-1-1">
                                        <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: search"></span>
                                        <input class="uk-input" type="text" placeholder="Search friends...">
                                    </div>
                                </div>
                                <ul class="uk-list uk-list-striped" style="max-height:250px;overflow-y:auto;overflow-x:hidden;">
                                    <li>
                                        <label>
                                            <input class="uk-checkbox" type="checkbox"> <span class="uk-margin-left">
                                                <img src="imgs/avatar.jpg" alt="">
                                                Ash
                                            </span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input class="uk-checkbox" type="checkbox"> <span class="uk-margin-left">
                                                <img src="imgs/cyberpunk-2077-keyart-1220x686.jpg" alt="">
                                                Nade
                                            </span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input class="uk-checkbox" type="checkbox"> <span class="uk-margin-left">
                                                <img src="imgs/avatar.jpg" alt="">
                                                Hasib
                                            </span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input class="uk-checkbox" type="checkbox"> <span class="uk-margin-left">
                                                <img src="imgs/cyberpunk-2077-keyart-1220x686.jpg" alt="">
                                                Nade
                                            </span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input class="uk-checkbox" type="checkbox"> <span class="uk-margin-left">
                                                <img src="imgs/avatar.jpg" alt="">
                                                Ash
                                            </span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input class="uk-checkbox" type="checkbox"> <span class="uk-margin-left">
                                                <img src="imgs/cyberpunk-2077-keyart-1220x686.jpg" alt="">
                                                Nade
                                            </span>
                                        </label>
                                    </li>
                                </ul>
                                <button class="uk-button uk-button-secondary uk-button-medium uk-width-1-1" type="button">Create Messaging Group</button>
                                <button class="uk-modal-close-default" type="button" uk-close></button>
                            </div>
                        </div>
                <div class="uk-margin" uk-margin uk-grid>
                    <div class="uk-width-3-5@s">
                        <input type="text" class="uk-input" placeholder="username#tag">
                    </div>
                    <div class="uk-width-2-5@s">
                        <button class="uk-width-1-1 uk-button uk-button-secondary uk-button-medium">
                            Send Friend Request
                        </button>
                    </div>
                </div>
                <div class="uk-overflow-auto">
                    <table class="uk-table uk-table-justify uk-table-divider">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Status</th>
                                <th><span uk-icon="icon: trash"></span></th>
                                <th><span uk-icon="icon: video-camera;ratio:1.5"></span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="font-size: 15px;">
                                    <img src="imgs/avatar.jpg" alt=""> Hasib Neo
                                </td>
                                <td style="font-size: 15px;"><svg xmlns="http://www.w3.org/2000/svg" height="10px" width="10px" version="1.1">
                            <rect width="10" height="10" style="fill:#32d296;" />
                        </svg>
                        Online</td>
                                <td><span uk-icon="icon: trash"></span></td>
                                <td><button class="uk-button uk-button-default uk-button-small" style="background-color: rgb(50, 210, 150); color: rgb(255, 255, 255); border: 1px solid rgb(50, 210, 150); border-radius: 4px;" type="button"><span uk-icon="icon: video-camera;ratio:1.5"></span></button></td>
                            </tr>
                            <tr>
                                <td style="font-size: 15px;">
                                    <img src="imgs/avatar.jpg" alt=""> Ash
                                </td>
                                <td style="font-size: 15px;"><svg xmlns="http://www.w3.org/2000/svg" height="10px" width="10px" version="1.1">
                            <rect width="10" height="10" style="fill:#32d296;" />
                        </svg>
                        Online</td>
                                <td><span uk-icon="icon: trash"></span></td>
                                <td><button class="uk-button uk-button-default uk-button-small" style="background-color: rgb(50, 210, 150); color: rgb(255, 255, 255); border: 1px solid rgb(50, 210, 150); border-radius: 4px;" type="button"><span uk-icon="icon: video-camera;ratio:1.5"></span></button></td>
                            </tr>
                            <tr>
                                <td style="font-size: 15px;">
                                    <img src="imgs/avatar.jpg" alt=""> Hasib
                                </td>
                                <td style="font-size: 15px;"><svg xmlns="http://www.w3.org/2000/svg" height="10px" width="10px" version="1.1">
                            <rect width="10" height="10" style="fill:#32d296;" />
                        </svg>
                        Online</td>
                                <td><span uk-icon="icon: trash"></span></td>
                                <td><button class="uk-button uk-button-default uk-button-small" style="background-color: rgb(50, 210, 150); color: rgb(255, 255, 255); border: 1px solid rgb(50, 210, 150); border-radius: 4px;" type="button"><span uk-icon="icon: video-camera;ratio:1.5"></span></button></td>
                            </tr>
                            <tr>
                                <td style="font-size: 15px;">
                                    <img src="imgs/avatar.jpg" alt=""> Ash
                                </td>
                                <td style="font-size: 15px;"><svg xmlns="http://www.w3.org/2000/svg" height="10px" width="10px" version="1.1">
                            <rect width="10" height="10" style="fill:#32d296;" />
                        </svg>
                        Online</td>
                                <td><span uk-icon="icon: trash"></span></td>
                                <td><button class="uk-button uk-button-default uk-button-small" style="background-color: rgb(50, 210, 150); color: rgb(255, 255, 255); border: 1px solid rgb(50, 210, 150); border-radius: 4px;" type="button"><span uk-icon="icon: video-camera;ratio:1.5"></span></button></td>
                            </tr>
                            <tr>
                                <td style="font-size: 15px;">
                                    <img src="imgs/avatar.jpg" alt=""> Hasib
                                </td>
                                <td style="font-size: 15px;"><svg xmlns="http://www.w3.org/2000/svg" height="10px" width="10px" version="1.1">
                            <rect width="10" height="10" style="fill:#32d296;" />
                        </svg>
                        Online</td>
                                <td><span uk-icon="icon: trash"></span></td>
                                <td><button class="uk-button uk-button-default uk-button-small" style="background-color: rgb(50, 210, 150); color: rgb(255, 255, 255); border: 1px solid rgb(50, 210, 150); border-radius: 4px;" type="button"><span uk-icon="icon: video-camera;ratio:1.5"></span></button></td>
                            </tr>
                            <tr>
                                <td style="font-size: 15px;">
                                    <img src="imgs/avatar.jpg" alt=""> Ash
                                </td>
                                <td style="font-size: 15px;"><svg xmlns="http://www.w3.org/2000/svg" height="10px" width="10px" version="1.1">
                            <rect width="10" height="10" style="fill:#32d296;" />
                        </svg>
                        Online</td>
                                <td><span uk-icon="icon: trash"></span></td>
                                <td><button class="uk-button uk-button-default uk-button-small" style="background-color: rgb(50, 210, 150); color: rgb(255, 255, 255); border: 1px solid rgb(50, 210, 150); border-radius: 4px;" type="button"><span uk-icon="icon: video-camera;ratio:1.5"></span></button></td>
                            </tr>
                            <tr>
                                <td style="font-size: 15px;">
                                    <img src="imgs/avatar.jpg" alt=""> Hasib
                                </td>
                                <td style="font-size: 15px;"><svg xmlns="http://www.w3.org/2000/svg" height="10px" width="10px" version="1.1">
                            <rect width="10" height="10" style="fill:#32d296;" />
                        </svg>
                        Online</td>
                                <td><span uk-icon="icon: trash"></span></td>
                                <td><button class="uk-button uk-button-default uk-button-small" style="background-color: rgb(50, 210, 150); color: rgb(255, 255, 255); border: 1px solid rgb(50, 210, 150); border-radius: 4px;" type="button"><span uk-icon="icon: video-camera;ratio:1.5"></span></button></td>
                            </tr>
                            <tr>
                                <td style="font-size: 15px;">
                                    <img src="imgs/avatar.jpg" alt=""> Ash
                                </td>
                                <td style="font-size: 15px;"><svg xmlns="http://www.w3.org/2000/svg" height="10px" width="10px" version="1.1">
                            <rect width="10" height="10" style="fill:#32d296;" />
                        </svg>
                        Online</td>
                                <td><span uk-icon="icon: trash"></span></td>
                                <td><button class="uk-button uk-button-default uk-button-small" style="background-color: rgb(50, 210, 150); color: rgb(255, 255, 255); border: 1px solid rgb(50, 210, 150); border-radius: 4px;" type="button"><span uk-icon="icon: video-camera;ratio:1.5"></span></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="uk-overflow-auto">
                    <table class="uk-table uk-table-justify uk-table-divider">
                        <thead>
                            <tr>
                                <th class="uk-width-small">Profile Picture</th>
                                <th>Name</th>
                                <th>Action</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <img src="imgs/avatar.jpg" alt="">
                                </td>
                                <td style="font-size: 15px;">Hasib</td>
                                <td><button class="uk-button uk-button-secondary uk-button-small" type="button">Accept Friend Request</button></td>
                                <td><button class="uk-button uk-button-danger uk-button-small" type="button">Block</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur, sed do eiusmod.</li>
        </ul>
    </div>
</div>
<div id="feed-grid">
    <OtherRoomsFeeds />
</div>