<style>
    #add-server {
        padding: 5px;
    }
    #add-server:hover {
        background-color: #4a9ff5;
        border-radius: 5px;
    }
</style>
<div style="padding:5px;">
    <span uk-icon="icon: plus; ratio: 2" uk-tooltip="title:Create Server;pos:left" id="add-server"
        uk-toggle="target: #createServerModal"></span>
</div>
<div id="createServerModal" class="uk-modal-full" uk-modal>
    <div class="uk-modal-dialog" style="height:100%;">
        <button class="uk-modal-close-full" type="button" uk-close>ESC <span class="uk-close-large"
                style="margin-left: 5px;"></span></button>
        <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
            <div class="uk-flex uk-flex-column uk-background-secondary uk-light" style="padding:15% 10%;height:100vh;">
                <h3>CREATE A SERVER</h3>
                <div class="uk-margin-small">
                    <input type="text" class="uk-input" id="serverName" placeholder="Server Name...">
                </div>
                <div>Server Type:</div>
                <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                    <label><input class="uk-radio" type="radio" name="serverType"> Public</label>
                    <label><input class="uk-radio" type="radio" name="serverType"> Private</label>
                </div>
                <div>
                    <button class="uk-button uk-button-secondary">Add Server</button>
                </div>
            </div>
            <div class="uk-background-default uk-dark" style="padding:15% 10%;height:100vh;">
                <h3>JOIN AN EXISTING SERVER</h3>
                <div class="uk-margin-small">
                    <input type="text" class="uk-input" id="serverName" placeholder="Enter an invite code">
                </div>
                <p>Use an invitation code to join an existing server.</p>
                <p>The invite code will look something like these: </p>
                <ul class="uk-list uk-list-bullet">
                    <li><b>For Unverified Server:</b> 46Juzcyx</li>
                    <li><b>For Verified Server:</b> server_name</li>
                </ul>
                <div>
                    <button class="uk-button uk-button-secondary">Join</button>
                </div>
            </div>
        </div>
    </div>
</div>