<script>
    import {
        socket
    } from '../store.js'
    import {
        createEventDispatcher
    } from 'svelte';
    import {
        onMount
    } from 'svelte'
    import EmojiButton from '@joeattardi/emoji-button';

    let chatbox
    let chatInput, gifInput, stickerInput
    let gifs = [],
        stickers = []
    let appendedTxtMsg = ''
    let img_preview,
        img_preview_dropdown

    const dispatch = createEventDispatcher();

    function appendToChatbox(msg) {
        // chatbox.appendChild(child)
        // chatbox.scrollTop = chatbox.scrollHeight
        if (msg) {
            appendedTxtMsg = msg
            socket.emit('link-preview', msg)
        }
    }

    socket.on('getLinkPreview', data => {
        console.log(data)
        dispatch('chatInputMessage', {
            msg: appendedTxtMsg,
            linkPreview: data,
        });
    })

    function sendMessage(message) {
        appendToChatbox(message)
    }

    function sendTextMessage() {
        if (chatInput) {
            sendMessage(chatInput)
            chatInput = ''
        }
    }

    function enterPressed(event) {
        if (event.ctrlKey && (event.keyCode === 13 || event.keyCode === 10)) {
            chatInput += "\n"
        } else if (event.keyCode === 13 || event.keyCode === 10) {
            event.preventDefault()
            sendTextMessage()
        }
    }

    function searchGif(event) {
        if (event.keyCode === 13 || event.keyCode === 10) {
            socket.emit('searchGif', {
                gifInput: gifInput
            })
        }
    }

    socket.on('search-giphy', async data => {
        console.log(data.gifs)
        gifs = await data.gifs
    })

    function searchSticker(event) {
        if (event.keyCode === 13 || event.keyCode === 10) {
            socket.emit('searchSticker', {
                stickerInput: stickerInput
            })
        }
    }

    socket.on('search-giphy-sticker', async data => {
        console.log(data.stickers)
        stickers = await data.stickers
    })

    function removeImg() {
        img_preview = null
        UIkit.notification({
            message: "<span uk-icon='icon: warning'></span> Image removed",
            status: 'danger',
            pos: 'bottom-center',
            timeout: 3000
        });
    }

    function addImg(event) {
        const files = event.target.files,
            reader = new FileReader();
        if (!files[0].type.match(/image.*/)) {
            UIkit.notification({
                message: "<span uk-icon='icon: warning'></span> Not an Image",
                status: 'danger',
                pos: 'bottom-center',
                timeout: 3000
            });
            return false;
        };
        reader.addEventListener("load", function () {
            let image = new Image()
            image.onload = (imgEvent) => {
                console.log("TCL: image.onload -> imgEvent", imgEvent)
                let canvas = document.createElement("canvas")
                const MAX_WIDTH = 600,
                    MAX_HEIGHT = 400; // TODO : pull max size from a site config

                let width = image.width,
                    height = image.height,
                    resize = false;
                if (width > height) {
                    if (width > MAX_WIDTH) {
                        height *= MAX_WIDTH / width;
                        width = MAX_WIDTH;
                        resize = true
                    }
                } else {
                    if (height > MAX_HEIGHT) {
                        width *= MAX_HEIGHT / height;
                        height = MAX_HEIGHT;
                        resize = true
                    }
                }
                if (resize) {
                    canvas.width = width;
                    canvas.height = height;
                    let ctx = canvas.getContext("2d")
                    ctx.drawImage(image, 0, 0, width, height)
                    // canvas.toBlob(blob => {
                    //     mySharedImg.set(blob)
                    // })
                    img_preview.src = canvas.toDataURL("image/png")
                    UIkit.dropdown(img_preview_dropdown).show();
                }
                img_preview.src = image.src
                UIkit.dropdown(img_preview_dropdown).show();
            }
            image.src = this.result
        }, false);
        reader.readAsDataURL(files[0]);

    }

    const picker = new EmojiButton({
        position: 'top-end'
    });

    picker.on('emoji', emoji => {
        chatInput += emoji;
    });

    onMount(() => {
        chatbox = document.getElementById('chatbox')
        let button = document.getElementById('emoji-button');

        button.addEventListener('click', () => {
            picker.pickerVisible ? picker.hidePicker() : picker.showPicker(button);
        });
        // let loadEmojiScript = () => {
        //     if (window.emojiScriptLoaded == false) {
        //         loadScript('emoji.min.js')
        //     } else {
        //         button.removeEventListener('click', loadEmojiScript, true)
        //     }
        // }
        // button.addEventListener('click', loadEmojiScript);

    })
    // window.addEventListener('DOMContentLoaded', () => {



    // });

    // signal encryption example
    // var KeyHelper = libsignal.KeyHelper;

    // function generateIdentity(store) {
    //     return Promise.all([
    //         KeyHelper.generateIdentityKeyPair(),
    //         KeyHelper.generateRegistrationId(),
    //     ]).then(function(result) {
    //         store.put('identityKey', result[0]);
    //         store.put('registrationId', result[1]);
    //     });
    // }

    // function generatePreKeyBundle(store, preKeyId, signedPreKeyId) {
    //     return Promise.all([
    //         store.getIdentityKeyPair(),
    //         store.getLocalRegistrationId()
    //     ]).then(function(result) {
    //         var identity = result[0];
    //         var registrationId = result[1];

    //         return Promise.all([
    //             KeyHelper.generatePreKey(preKeyId),
    //             KeyHelper.generateSignedPreKey(identity, signedPreKeyId),
    //         ]).then(function(keys) {
    //             var preKey = keys[0]
    //             var signedPreKey = keys[1];

    //             store.storePreKey(preKeyId, preKey.keyPair);
    //             store.storeSignedPreKey(signedPreKeyId, signedPreKey.keyPair);

    //             return {
    //                 identityKey: identity.pubKey,
    //                 registrationId : registrationId,
    //                 preKey:  {
    //                     keyId     : preKeyId,
    //                     publicKey : preKey.keyPair.pubKey
    //                 },
    //                 signedPreKey: {
    //                     keyId     : signedPreKeyId,
    //                     publicKey : signedPreKey.keyPair.pubKey,
    //                     signature : signedPreKey.signature
    //                 }
    //             };
    //         });
    //     });
    // }

    // var ALICE_ADDRESS = new libsignal.SignalProtocolAddress("xxxxxxxxx", 1);
    // var BOB_ADDRESS   = new libsignal.SignalProtocolAddress("yyyyyyyyyyyyy", 1);

    //     var aliceStore = new libsignal.SignalProtocolStore();

    //     var bobStore = new libsignal.SignalProtocolStore();
    //     var bobPreKeyId = 1337;
    //     var bobSignedKeyId = 1;

    //     var Curve = libsignal.Curve;

    //         Promise.all([
    //             generateIdentity(aliceStore),
    //             generateIdentity(bobStore),
    //         ]).then(function() {
    //             return generatePreKeyBundle(bobStore, bobPreKeyId, bobSignedKeyId);
    //         }).then(function(preKeyBundle) {
    //             var builder = new libsignal.SessionBuilder(aliceStore, BOB_ADDRESS);
    //             return builder.processPreKey(preKeyBundle).then(function() {

    //             var originalMessage = util.toArrayBuffer("my message ......");
    //             var aliceSessionCipher = new libsignal.SessionCipher(aliceStore, BOB_ADDRESS);
    //             var bobSessionCipher = new libsignal.SessionCipher(bobStore, ALICE_ADDRESS);

    //             aliceSessionCipher.encrypt(originalMessage).then(function(ciphertext) {

    //                 // check for ciphertext.type to be 3 which includes the PREKEY_BUNDLE
    //                 return bobSessionCipher.decryptPreKeyWhisperMessage(ciphertext.body, 'binary');

    //             }).then(function(plaintext) {

    //                 alert(plaintext);

    //             });

    //             bobSessionCipher.encrypt(originalMessage).then(function(ciphertext) {

    //                 return aliceSessionCipher.decryptWhisperMessage(ciphertext.body, 'binary');

    //             }).then(function(plaintext) {

    //                 assertEqualArrayBuffers(plaintext, originalMessage);

    //             });

    //             });
    //         });
</script>
<style>
    .width-10p {
        width: 10%;
    }

    #chat-editor {
        height: 110px;
        max-height: 12vh;
        background-color: #f8f8f8;
    }

    #chatTextarea {
        font-size: 15px;
    }

    @media only screen and (max-width: 768px) {

        /* For mobile phones: */
        #chat-editor {
            height: 70px;
        }
    }
</style>
<div class="uk-grid-collapse uk-dark uk-flex" id="chat-editor" uk-grid>
    <div class="uk-text-center uk-flex uk-flex-middle uk-flex-center width-10p">
        <div class="uk-inline" title="Image only" uk-tooltip>
            <div uk-form-custom>
                <input type="file" class="font-20px" id="chatInputFile" on:change={addImg}>
                <span uk-icon="icon: plus"></span>
            </div>
            <div uk-dropdown="pos: top-left" bind:this={img_preview_dropdown}>
                <img bind:this={img_preview} alt="">
                <span uk-icon="icon: close" on:click={removeImg}></span>
            </div>
        </div>
    </div>
    <div style="width: 70%;">
        <textarea class="uk-textarea" id="chatTextarea" style="height: 100%;" placeholder="&#8862; Win + ; for Emoji"
            bind:value={chatInput} on:keypress={enterPressed}></textarea>
    </div>
    <div class="uk-inline uk-text-center uk-flex uk-flex-middle uk-flex-center width-10p">
        <div class="boundary-align uk-panel">
            <button class="uk-button uk-button-default" type="button"
                style="padding:10px 15px;border:none;">gif</button>
            <div uk-dropdown="pos:top-right;mode: click;boundary: .boundary-align; boundary-align: true"
                style="width:500px;height:250px;overflow-x:hidden;overflow-y:auto;">
                <ul uk-tab>
                    <li><a href="#">GIF</a></li>
                    <li><a href="#">STICKER</a></li>
                </ul>

                <ul class="uk-switcher uk-margin">
                    <li style="position:relative;">
                        <div uk-grid>
                            <div class="uk-width-4-5@m">
                                <input type="text" class="uk-input"
                                    style="position:sticky;top:0;z-index:2;background-color:#fff;margin-bottom:10px;"
                                    placeholder="Search GIF..." bind:value={gifInput} on:keypress={searchGif}>
                            </div>
                            <div class="uk-width-1-5@m uk-flex uk-flex-middle" style="padding-bottom:10px;">
                                <img src="/Poweredby_100px-White_VertText.png" alt="">
                            </div>
                        </div>
                        <div class="uk-grid-small uk-child-width-1-4@s uk-text-center" uk-grid="masonry:true">
                            {#each gifs as gif}
                            <div>
                                <div class="uk-card uk-card-default uk-card-body" style="padding:0;">
                                    <img src="{gif.images.fixed_height.url}" alt="">
                                </div>
                            </div>
                        {/each}
                        </div>
                    </li>
                    <li>
                        <div uk-grid>
                            <div class="uk-width-4-5@m">
                                <input type="text" class="uk-input" style="position:sticky;top:0;z-index:2;background-color:#fff;margin-bottom:10px;" placeholder="Search STICKER..." bind:value={stickerInput} on:keypress={searchSticker}>
                            </div>
                            <div class="uk-width-1-5@m uk-flex uk-flex-middle" style="padding-bottom:10px;">
                            <img src="/Poweredby_100px-White_VertText.png" alt="">
                        </div>
                    </div>
                            <div class="uk-grid-small uk-child-width-1-4@s uk-text-center" uk-grid="masonry:true">
                            {#each stickers as sticker}
                                <div>
                                    <div class="uk-card uk-card-default uk-card-body" style="padding:0;">
                                        <img src="{sticker.images.fixed_height.url}" alt="">
                                    </div>
                                </div>
                            {/each}
                            </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="uk-text-center uk-flex uk-flex-middle uk-flex-center width-10p"  id="emoji-button">
        <span uk-icon="icon: happy"></span>
    </div>
</div>