<script>
import MemberGrid from './roomChat/member_status.svelte'
import OtherRoomsFeeds from './otherRoomsFeeds.svelte'
</script>
<style>
#memberGrid, #feedGrid {
    height: 100%;
}
.stickyDiv {
    position:sticky;
    top:0;
    z-index: 1002;
    background-color: #222;
}
</style>
<div class="uk-offcanvas-bar" style="padding:0;" uk-height-match>
    <!-- <div class="uk-height-medium" id="memberGrid">
        <MemberGrid />
    </div>
    <div class="uk-height-medium" id="feedGrid">
        <OtherRoomsFeeds />
    </div> -->
    <ul class="stickyDiv" uk-tab>
        <li><a href="#">Memeber</a></li>
        <li><a href="#">Feed</a></li>
    </ul>

    <ul class="uk-switcher uk-margin">
        <li id="memberGrid"><MemberGrid /></li>
        <li id="feedGrid"><OtherRoomsFeeds /></li>
    </ul>
</div>