<script>
    import {
        onMount,
        onDestroy
    } from 'svelte'
    import {
        videoStream
    } from '../store.js'

    let videoSrc

    // import interact from 'interactjs'
    // target elements with the "draggable" class

    onMount(async () => {
        if ($videoStream !== 0) {
            videoSrc.srcObject = await $videoStream
            await videoSrc.play()
        }
        //Make the DIV element draggagle:
        dragElement(document.getElementById("drag-1"));

        function dragElement(elmnt) {
            var pos1 = 0,
                pos2 = 0,
                pos3 = 0,
                pos4 = 0;
            if (document.getElementById(elmnt.id)) {
                /* if present, the header is where you move the DIV from:*/
                document.getElementById(elmnt.id).onmousedown = dragMouseDown;
            } else {
                /* otherwise, move the DIV from anywhere inside the DIV:*/
                elmnt.onmousedown = dragMouseDown;
            }

            function dragMouseDown(e) {
                e = e || window.event;
                e.preventDefault();
                // get the mouse cursor position at startup:
                pos3 = e.clientX;
                pos4 = e.clientY;
                document.onmouseup = closeDragElement;
                // call a function whenever the cursor moves:
                document.onmousemove = elementDrag;
            }

            function elementDrag(e) {
                e = e || window.event;
                e.preventDefault();
                // calculate the new cursor position:
                pos1 = pos3 - e.clientX;
                pos2 = pos4 - e.clientY;
                pos3 = e.clientX;
                pos4 = e.clientY;
                let bounX = document.getElementById('main-container').offsetWidth;
                let bounY = document.getElementById('main-container').offsetHeight;
                if(pos3 > 0 && pos3 < bounX && pos4 > 0 && pos4 < bounY){
                    // set the element's new position:
                    elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
                    elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
                }
            }

            function closeDragElement() {
                /* stop moving when mouse button is released:*/
                document.onmouseup = null;
                document.onmousemove = null;
            }
        }
        // await interact('.draggable')
        //     .draggable({
        //         // enable inertial throwing
        //         // inertia: true,
        //         // keep the element within the area of it's parent
        //         modifiers: [
        //             interact.modifiers.restrictRect({
        //                 restriction: 'parent',
        //                 endOnly: true
        //             })//,
        //             // interact.modifiers.restrictSize({
        //             //     min: {
        //             //         width: 100,
        //             //         height: 100
        //             //     },
        //             //     max: {
        //             //         width: 500,
        //             //         height: 350
        //             //     },
        //             // })
        //         ],
        //         // enable autoScroll
        //         autoScroll: true,

        //         // call this function on every dragmove event
        //         onmove: dragMoveListener,
        //         // call this function on every dragend event
        //         onend: function (event) {
        //             //
        //         }
        //     })

        // function dragMoveListener(event) {
        //     var target = event.target
        //     // keep the dragged position in the data-x/data-y attributes
        //     var x = (parseFloat(target.getAttribute('data-x')) || 0) + event.dx
        //     var y = (parseFloat(target.getAttribute('data-y')) || 0) + event.dy

        //     // translate the element
        //     target.style.webkitTransform =
        //         target.style.transform =
        //         'translate(' + x + 'px, ' + y + 'px)'

        //     // update the position attributes
        //     target.setAttribute('data-x', x)
        //     target.setAttribute('data-y', y)
        // }
    })
    onDestroy(() => {
        // interact('.draggable').unset()
    })
</script>
<style>
    .draggable {
        width: 300px;
        height: 170px !important;
        position: absolute;
        top: 200px;
        right: 200px;
        z-index: 9999;
        cursor: move;
        background-color: blue;
        /* touch-action: none;
        user-select: none;
        box-sizing: border-box;
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px); */
    }
</style>
<div class="draggable" id="drag-1">
    <video style="width:100%;height:170px;" bind:this={videoSrc} playsinliney></video>
</div>