<script>
    import {
        link, location
    } from 'svelte-spa-router'
    import {activeServerId} from '../store.js'
    import 'lazysizes';

    activeServerId.set(0)
</script>
<style>
    img {
        object-fit: cover;
        width: 38px;
        height: 38px;
    }

    #roomList {
        height: 76%;
    }

    #friendList {
        height: 100%;
        /* overflow-x: hidden;
        overflow-y: auto;
        scrollbar-width: auto; */
    }


    #friendList a {
        color: white;
        text-decoration: none;
        font-size: 14px;
        display: block;
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #friendList li {
        width: 95%;
        padding: 4% 3%;
    }

    #friendList li:hover {
        background-color: #1b93f9;
    }

    .activeFriend {
        background-color: #1b93f9;
        padding: 5px;
    }

    .labelOnline {
        background-color:#32d296;
        color:#ffffff;
        font-size:9px;
    }

    .videoCallDiv {
        display: none;
        position: absolute;
        right: 0;
        padding: 5px;
        background-color: #4a9ff5;
        z-index: 2;
    }

    #createMsgGroupBtn {
        padding: 5px;
    }

    #createMsgGroupBtn:hover {
        background-color: #1b93f9;
    }

    @media only screen and (min-width: 768px) {
        #friendList {
            overflow-y: hidden;
            overflow-x: hidden;
            padding-left: 10px;
        }
        #friendList:hover {
            overflow-y: auto;
            scrollbar-width: none;
            /* Firefox */
        }
        #friendList:hover::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
        #friendList li {
            position: relative;
        }
        #friendList li:hover > .videoCallDiv {
            display: block;
        }
    }

    /* #manage-room-list div {
    padding: 5px;
}
#manage-room-list div:hover {
    background-color: #f8f8f8;
    cursor: pointer;
} */
</style>
<div class="uk-inline uk-flex" style="font-family: 'Open Sans'; font-size: 15px;width:100%;">
    <div class="uk-inline uk-width-1-1" style="padding:0 5px 0 15px;">
        <span uk-icon="icon: users"></span> Friends
        <span uk-icon="icon: plus" class="uk-align-right" id="createMsgGroupBtn" style="cursor:pointer;margin-bottom:0;" uk-toggle="target: #createMessagingGroupModal" type="button" title="Create Messaging Group" uk-tooltip="pos:left" ></span>
    </div>
</div>
<div class="uk-margin" id="roomList">

    <ul class="uk-list" id="friendList" style="margin-bottom:200px;">
        <li class="uk-flex">
            <span uk-icon="icon: users;ratio:2"></span>
            <span class="uk-flex uk-flex-column" style="padding-left: 5px;width:80%;">
                <a href="/friend/1" class="{(/^\/friend\/1/i.test($location))?'activeFriend':''} colorWhite" use:link uk-tooltip="Felix Roniot">
                    Felix Roniot, Ash, Nade
                </a>
                <small>
                    <span style="font-size:14px;">
                        3 members
                    </span>
                </small>
            </span>
            <div class="videoCallDiv">
                <a href="/videoCall/1">
                    <span uk-icon="icon: cog;ratio:1.5"></span>
                </a>
            </div>
        </li>
        <li class="uk-flex">
            <img class="lazyload" data-src="imgs/avatar.jpg" alt="">
            <span class="uk-flex uk-flex-column" style="padding-left: 5px;width:80%;">
                <a href="/friend/1" class="{(/^\/friend\/1/i.test($location))?'activeFriend':''} colorWhite" use:link uk-tooltip="Felix Roniot">
                    Felix Roniot
                </a>
                <small>
                    <span
                        style="font-size:14px;">
                        <svg xmlns="http://www.w3.org/2000/svg" height="10px" width="10px" version="1.1">
                            <rect width="10" height="10" style="fill:#32d296;" />
                        </svg>
                        Online
                    </span>
                </small>
            </span>
            <div class="videoCallDiv">
                <a href="/videoCall/1">
                    <span uk-icon="icon: video-camera;ratio:1.5"></span>
                </a>
            </div>
        </li>
        <li class="uk-flex">
            <img class="lazyload" data-src="imgs/cyberpunk-2077-keyart-1220x686.jpg" alt="">
            <span class="uk-flex uk-flex-column" style="padding-left: 5px;width:80%;">
                <a href="/friend/2" class="{(/^\/friend\/2/i.test($location))?'activeFriend':''} colorWhite" use:link uk-tooltip="Felix Roniot">
                    Ash
                </a>
                <small>
                    <span
                        style="font-size:14px;">
                        <svg xmlns="http://www.w3.org/2000/svg" height="10px" width="10px" version="1.1">
                            <rect width="10" height="10" style="fill:#2b2b2b;" />
                        </svg>
                        Offline
                    </span>
                </small>
            </span>
        </li>
        <li class="uk-flex">
            <img class="lazyload" data-src="imgs/avatar.jpg" alt="">
            <span class="uk-flex uk-flex-column" style="padding-left: 5px;width:80%;">
                <a href="/friend/3" class="{(/^\/friend\/3/i.test($location))?'activeFriend':''} colorWhite" use:link uk-tooltip="Felix Roniot">
                    Nade
                </a>
                <small>
                    <span
                        style="font-size:14px;">
                        <svg xmlns="http://www.w3.org/2000/svg" height="10px" width="10px" version="1.1">
                            <rect width="10" height="10" style="fill:#f58686;" />
                        </svg>
                        Don't Disturb
                    </span>
                </small>
            </span>
        </li>
        <li class="uk-flex">
            <img class="lazyload" data-src="imgs/avatar.jpg" alt="">
            <span class="uk-flex uk-flex-column" style="padding-left: 5px;width:80%;">
                <a href="/friend/1" class="{(/^\/friend\/1/i.test($location))?'activeFriend':''} colorWhite" use:link uk-tooltip="Felix Roniot">
                    Felix Roniot
                </a>
                <small>
                    <span
                        style="font-size:14px;">
                        <svg xmlns="http://www.w3.org/2000/svg" height="10px" width="10px" version="1.1">
                            <rect width="10" height="10" style="fill:#32d296;" />
                        </svg>
                        Online
                    </span>
                </small>
            </span>
        </li>
        <li class="uk-flex">
            <img class="lazyload" data-src="imgs/cyberpunk-2077-keyart-1220x686.jpg" alt="">
            <span class="uk-flex uk-flex-column" style="padding-left: 5px;width:80%;">
                <a href="/friend/2" class="{(/^\/friend\/2/i.test($location))?'activeFriend':''} colorWhite" use:link uk-tooltip="Felix Roniot">
                    Ash
                </a>
                <small>
                    <span
                        style="font-size:14px;">
                        <svg xmlns="http://www.w3.org/2000/svg" height="10px" width="10px" version="1.1">
                            <rect width="10" height="10" style="fill:#2b2b2b;" />
                        </svg>
                        Offline
                    </span>
                </small>
            </span>
        </li>
        <li class="uk-flex">
            <img class="lazyload" data-src="imgs/avatar.jpg" alt="">
            <span class="uk-flex uk-flex-column" style="padding-left: 5px;width:80%;">
                <a href="/friend/3" class="{(/^\/friend\/3/i.test($location))?'activeFriend':''} colorWhite" use:link uk-tooltip="Felix Roniot">
                    Nade
                </a>
                <small>
                    <span
                        style="font-size:14px;">
                        <svg xmlns="http://www.w3.org/2000/svg" height="10px" width="10px" version="1.1">
                            <rect width="10" height="10" style="fill:#f58686;" />
                        </svg>
                        Don't Disturb
                    </span>
                </small>
            </span>
        </li>
    </ul>
</div>