<style>
    #settings-icon {
        padding: 5px;
    }
    #settings-icon:hover {
        background-color: #4a9ff5;
        border-radius: 5px;
    }
</style>
<div style="padding:5px;">
    <span id="settings-icon" uk-icon="icon: settings; ratio: 2" uk-tooltip="title:Settings;pos:left"
        uk-toggle="target: #mainSettingsModal"></span>
</div>
<div id="mainSettingsModal" class="uk-modal-full" uk-modal>
    <div class="uk-modal-dialog" style="height:100%;">
        <button class="uk-modal-close-full" type="button" uk-close>ESC <span class="uk-close-large"
                style="margin-left: 5px;"></span></button>
    </div>
</div>