<script>
let editCategory = () => {
    UIkit.modal.confirm('<h3>Delete this category?</h3><p>This cannot be undone.</p>').then(function () {
            console.log('Confirmed.')
        }, function () {
            console.log('Rejected.')
        }
    );
}
</script>
<style>
.mb-10px {
    margin-bottom: 10px;
}

#editCat {
    font-size: 14px;
    padding:5px;
}
</style>
<ul uk-accordion class="uk-padding-small pb-0 mb-0">
    <li class="uk-open">
        <a class="uk-accordion-title" id="editCat">Edit Category</a>
        <div class="uk-accordion-content uk-flex uk-flex-column">
            <input class="uk-input mb-10px" type="text" value="WELCOME">
            <button class="uk-button uk-button-default">
                <span uk-icon="icon: file-edit"></span>
                EDIT
            </button>
        </div>
    </li>
</ul>
<div class="uk-padding-small">
    <hr class="uk-divider-icon">
    <a on:click|preventDefault={editCategory} class="uk-button uk-button-danger" style="width:100%;">
        <span uk-icon="icon: trash"></span>
        Delete Category</a>
</div>