<script>
    import {onMount, onDestroy} from 'svelte';
    
    let myVideo;
    export let MyFriendVideoSrcObj
    $: streamSrc = MyFriendVideoSrcObj;
    
    onMount(()=>{
        myVideo.srcObject = streamSrc
        myVideo.play()
    })

    onDestroy(()=>{
        myVideo.srcObject = {}
    })
        
    // navigator.mediaDevices.getUserMedia({
    //         video: true,
    //         audio: true
    //     })
    //     .then(async stream => {
    //         let videoTrack = stream.getVideoTracks()[0]
    //         myVideo.srcObject = stream
    //         myVideo.play()
    //     })
</script>
<video bind:this="{myVideo}" class="uk-background-primary uk-width-expand uk-height-1-1" playsinline uk-video></video>