<script>
import {videoStream} from '../store.js'
import {onMount} from 'svelte'
    export let myStream
    
    let myVideo
    onMount(()=>{
        myVideo.srcObject = myStream
        myVideo.play()
    })
    
    // navigator.mediaDevices.getUserMedia({
    //         video: true,
    //         audio: true
    //     })
    //     .then(async stream => {
    //         await videoStream.set(stream)
    //         let videoTrack = await stream.getVideoTracks()[0]
    //         myVideo.srcObject = await stream
    //         await myVideo.play()
    //     })
</script>
{#if window.innerWidth <= 800 && window.innerHeight <= 600}
    <video bind:this="{myVideo}" class="uk-position-medium uk-position-top-right uk-overlay uk-overlay-default uk-width-1-4" style="padding: 0; border: 1px solid white;"
    playsinline uk-video></video>
{:else}
    <video bind:this="{myVideo}" 
    playsinline uk-video></video>
{/if}