<script>
import {onMount, onDestroy} from 'svelte'

// Tips

let tips = []

let tip = ''

// Room Feeds
export let roomFeeds = []

let addRoomFeeds = () => {
    let newRoomFeed = {
        id: new Date().getSeconds(),
        serverName: 'CyberPunk 2077'+new Date().getSeconds(),
        senderName: 'Hasib',
        sendTime: new Date().getSeconds(),
        msg: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit,.',
    }
    roomFeeds = [newRoomFeed, ...roomFeeds]
}

$: if(roomFeeds.length > 25){
    roomFeeds.pop()
}

let updateFeed = () => {
    setInterval(addRoomFeeds, 10000)
}

onMount(() => {
    // Fetch from server
    tips = [
        'Right Click on Room Category and Room for more!',
        'You can change status by clicking the status below your name!',
        'Create Category for better room organization!',
        'Invite people to your server for more fun!!',
        'Hover over the icon on server and do more!',
        'Setting status Offline will make you invisible!',
        'Press ESC key to close Modal',
    ]
    updateFeed()
    tip = tips[Math.floor(( tips.length ) * Math.random())]
})

onDestroy(() => {
    clearInterval(updateFeed)
    tips = []
    tip = ''
})
</script>
<style>
    #tipsAlert {
        width:80%;
        margin-top:0;
        margin-right: 15px;
        margin-left:15px;
        font-size:12px;
    }

    #feedNotif {
        font-size:15px;
        padding:15px;
        margin:0;
    }
    .serverName {
        font-size:15px;
        font-weight:bold;
    }
    #otherFeeds {
        height: 95%;
        padding: 0px 15px 15px 15px;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    #otherFeeds:hover {
        overflow-y: auto;
        scrollbar-width: none;
        /* Firefox */
    }

    #otherFeeds:hover::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
    @media only screen and (max-width: 768px) {

        /* For mobile phones: */
        #otherFeeds {
            overflow-y: auto;
            scrollbar-width: none;
        }
    }
</style>
<p id="feedNotif"><span uk-icon="icon: rss"></span> Feeds and Notifications</p>
<div class="uk-background-secondary uk-light" id="tipsAlert" uk-alert>
    <a class="uk-alert-close colorWhite" uk-close></a>
    <h6><span uk-icon="icon: info"></span> TIPS</h6>
    {#if tip}
        {tip}
    {:else}
        <p>Loading...</p>
    {/if}
</div>
<div id="otherFeeds">
    {#each roomFeeds as rf, i}
        <div uk-alert id="{rf.id}">
            <a class="uk-alert-close" uk-close></a>
            <div class="serverName">{rf.serverName}-{i}</div>
            <div>{rf.senderName} . <small>{rf.sendTime}</small></div>
            <div style="margin-top:10px;">{@html rf.msg}</div>
        </div>
    {:else}
        <p>No feed available</p>
    {/each}
</div>