<style>
img {
        object-fit: cover;
        width: 50px;
        height: 50px;
    }
</style>
<div class="uk-modal-dialog uk-modal-body" style="width:500px;">
    <button class="uk-modal-close-default" type="button" uk-close></button>

    <ul uk-tab>
        <li><a href="#">Invite</a></li>
        <li><a href="#">Manage</a></li>
    </ul>
    <ul class="uk-switcher uk-margin">
        <li>
            <div class="uk-flex uk-flex-column">
                <h5 style="margin-bottom: 0;">INVITE FRIENDS TO <span uk-icon="icon: hashtag"></span> Cyberpunk2077
                </h5>
                <form class="uk-search uk-search-default uk-width-1-1" style="margin: 10px 0;">
                    <a href="" class="uk-search-icon-flip" uk-search-icon></a>
                    <input class="uk-search-input" type="search" placeholder="Search for your friends, mates...">
                </form>
                <div style="width:100%;height:150px;overflow-x:hidden;overflow-y:auto;">
                    <ul class="uk-list">
                        <li class="uk-flex uk-flex-wrap uk-flex-wrap-around">
                            <div class="uk-width-3-4 uk-flex uk-flex-middle">
                                <img src="imgs/avatar.jpg" alt="">
                                <div style="padding-left:10px;font-size:15px;">Hasib</div>
                            </div>
                            <div class="uk-width-1-4 uk-flex uk-flex-middle uk-flex-center">
                                <button class="uk-button uk-button-primary uk-light uk-button-small">Invite</button>
                            </div>
                        </li>
                        <li class="uk-flex uk-flex-wrap uk-flex-wrap-around">
                            <div class="uk-width-3-4 uk-flex uk-flex-middle">
                                <img src="imgs/avatar.jpg" alt="">
                                <div style="padding-left:10px;font-size:15px;">Hasib</div>
                            </div>
                            <div class="uk-width-1-4 uk-flex uk-flex-middle uk-flex-center">
                                <button class="uk-button uk-button-primary uk-light uk-button-small">Invite</button>
                            </div>
                        </li>
                        <li class="uk-flex uk-flex-wrap uk-flex-wrap-around">
                            <div class="uk-width-3-4 uk-flex uk-flex-middle">
                                <img src="imgs/avatar.jpg" alt="">
                                <div style="padding-left:10px;font-size:15px;">Hasib</div>
                            </div>
                            <div class="uk-width-1-4 uk-flex uk-flex-middle uk-flex-center">
                                <button class="uk-button uk-button-primary uk-light uk-button-small">Invite</button>
                            </div>
                        </li>
                        <li class="uk-flex uk-flex-wrap uk-flex-wrap-around">
                            <div class="uk-width-3-4 uk-flex uk-flex-middle">
                                <img src="imgs/avatar.jpg" alt="">
                                <div style="padding-left:10px;font-size:15px;">Hasib</div>
                            </div>
                            <div class="uk-width-1-4 uk-flex uk-flex-middle uk-flex-center">
                                <button class="uk-button uk-button-primary uk-light uk-button-small">Invite</button>
                            </div>
                        </li>
                        <li class="uk-flex uk-flex-wrap uk-flex-wrap-around">
                            <div class="uk-width-3-4 uk-flex uk-flex-middle">
                                <img src="imgs/avatar.jpg" alt="">
                                <div style="padding-left:10px;font-size:15px;">Hasib</div>
                            </div>
                            <div class="uk-width-1-4 uk-flex uk-flex-middle uk-flex-center">
                                <button class="uk-button uk-button-primary uk-light uk-button-small">Invite</button>
                            </div>
                        </li>
                        <li class="uk-flex uk-flex-wrap uk-flex-wrap-around">
                            <div class="uk-width-3-4 uk-flex uk-flex-middle">
                                <img src="imgs/avatar.jpg" alt="">
                                <div style="padding-left:10px;font-size:15px;">Hasib</div>
                            </div>
                            <div class="uk-width-1-4 uk-flex uk-flex-middle uk-flex-center">
                                <button class="uk-button uk-button-primary uk-light uk-button-small">Invite</button>
                            </div>
                        </li>
                        <li class="uk-flex uk-flex-wrap uk-flex-wrap-around">
                            <div class="uk-width-3-4 uk-flex uk-flex-middle">
                                <img src="imgs/avatar.jpg" alt="">
                                <div style="padding-left:10px;font-size:15px;">Hasib</div>
                            </div>
                            <div class="uk-width-1-4 uk-flex uk-flex-middle uk-flex-center">
                                <button class="uk-button uk-button-primary uk-light uk-button-small">Invite</button>
                            </div>
                        </li>
                        <li class="uk-flex uk-flex-wrap uk-flex-wrap-around">
                            <div class="uk-width-3-4 uk-flex uk-flex-middle">
                                <img src="imgs/avatar.jpg" alt="">
                                <div style="padding-left:10px;font-size:15px;">Hasib</div>
                            </div>
                            <div class="uk-width-1-4 uk-flex uk-flex-middle uk-flex-center">
                                <button class="uk-button uk-button-primary uk-light uk-button-small">Invite</button>
                            </div>
                        </li>
                    </ul>
                </div>
                <hr class="uk-divider-icon">
                <input type="text" class="uk-input" style="margin-bottom:10px;" value="46Juzcyx" readonly />
                <button class="uk-button uk-button-secondary"><span uk-icon="icon: link"></span>
                        Copy Invite Code</button>
            </div>
        </li>
        <li>
            <div class="uk-flex uk-flex-column">
                <input type="text" class="uk-input uk-margin" value="CyberPunk2077" />
                <button class="uk-button uk-button-secondary"><span uk-icon="icon: file-edit"></span> Edit
                    Room</button>
                <hr class="uk-divider-icon">
                <button class="uk-button uk-button-danger" style="margin-top: 5px;"><span uk-icon="icon: trash"></span>
                    Delete Room</button>
            </div>
        </li>
    </ul>
</div>