<script>
    import {
        link,
        location
    } from 'svelte-spa-router'
    import FriendList from './friendList.svelte'
    import ServerRooms from './serverRooms.svelte'
    import TrendingServers from './trendingServers.svelte'
    import {callAccepted,callActive,isMobile} from '../store.js'

    let allStatus = ['Online', 'Don\'t disturb', 'Offline']
    let myStatus = allStatus[0]

    let changeStatustoOnline = () => {
        myStatus = allStatus[0]
    }
    let changeStatustoDontDisturb = () => {
        myStatus = allStatus[1]
    }
    let changeStatustoOffline = () => {
        myStatus = allStatus[2]
    }

    var totalSeconds = 0;

    let callTimer
    function countTimer() {
        ++totalSeconds;
        var hour = Math.floor(totalSeconds /3600);
        var minute = Math.floor((totalSeconds - hour*3600)/60);
        var seconds = totalSeconds - (hour*3600 + minute*60);

        if(seconds < 10){
            seconds = "0" + seconds
        }
        if(minute < 10){
            minute = "0" + minute
        }
        if(hour < 10){
            hour = "0" + hour
        }

        callTimer.innerHTML = hour + ":" + minute + ":" + seconds;
    }

    $: if($callAccepted){
        setInterval(countTimer, 1000);
    }
</script>
<style>
    /*#4a9ff5*/
    img {
        object-fit: cover;
        width: 38px;
        height: 38px;
    }

    #myStatus li {
        padding: 10px;
        cursor: pointer;
    }

    #myStatus li:hover {
        background-color: #f8f8f8;
    }

    #call-disconnect:hover {
        background-color: #222;
        border-radius: 50px;
        padding: 3px;
        cursor: pointer;
    }

    #profileId {
        position:sticky;
        top:0;
        padding:10px 0px;
        z-index:1002;
        background-color: #1b93f9;
    }

    @media only screen and (min-width: 768px) {
        #profileId {
            background-color:#4a9ff5;
        }
    }
</style>
<div id="profileId">
<div class="uk-inline">
    <div class="uk-flex"
        style="padding: 0px 10px 10px 10px;font-size: 15px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
        <img src="imgs/avatar.jpg" alt="">
        <div class="uk-flex uk-flex-column" style="padding-left: 5px;">
            <span uk-tooltip="Felix Roniot" class="colorWhite">Felix Roniot</span>
            <small>
                <span class="uk-label colorWhite" uk-tooltip="title:Set status; pos:bottom"
                    style="background-color:{(myStatus == 'Online')?'#32d296':(myStatus == 'Don\'t disturb')?'#f58686':'#2b2b2b'};font-size:9px;cursor:pointer;">{myStatus}</span>
                #5471
            </small>
        </div>
    </div>
    <div uk-dropdown="mode: click;pos:{(isMobile)?'bottom-center':'left-center'}" style="margin-right: 100%;padding:10px;">
        <ul class="uk-list" id="myStatus" style="margin-bottom:0px;">
            <li on:click={changeStatustoOnline}>Online</li>
            <li on:click={changeStatustoDontDisturb}>
                Don't Disturb
                <div style="font-size:11px;">You will not recieve any push notifications.</div>
            </li>
            <li on:click={changeStatustoOffline}>
                Offline
            </li>
        </ul>
    </div>
</div>
<!-- <div>
    <div class="uk-inline uk-width-1-1">
        <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: search"></span>
        <input class="uk-input uk-form-small" type="text" placeholder="Search...">
    </div>
</div> -->
{#if $callAccepted}
<div class="uk-flex uk-flex-middle"
    style="padding: 5px 10px;font-size: 15px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;background-color:rgb(73, 90, 84);">
    <img src="imgs/cyberpunk-2077-keyart-1220x686.jpg" width="38px" alt="">
    <div class="uk-flex uk-flex-column uk-width-expand" style="padding-left: 5px;">
        <a href="{($isMobile)?'/videoCall/1':'/friend/1'}" use:link uk-tooltip="Back to Main Call" style="color:#fff;font-size:12px;">Felix Roniot</a>
        <small>
            <a href="{($isMobile)?'/videoCall/1':'/friend/1'}" use:link uk-tooltip="Back to Main Call" uk-icon="icon: video-camera" style="color:#32d296;"></a> <span bind:this={callTimer}></span>
        </small>
    </div>
    <div style="width:20px;"><span uk-icon="icon: close" class="uk-text-danger" id="call-disconnect" uk-tooltip="title:Disconnect;pos:left"></span></div>
</div>
{/if}
<div style="margin:10px 0;">
    <!-- <div class="uk-inline">
        <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: search"></span>
        <input class="uk-input" type="text" placeholder="Search servers...">
    </div> -->
    <div class="uk-inline" style="width:100%;">
        <a href="/servers" use:link
            class="uk-button uk-button-{($location == '/servers')?'secondary':'default'} uk-width-1-1 uk-button-small"
            style="border:1px solid #ffffff8f;"><span class="uk-form-icon uk-form-icon-flip"
                uk-icon="icon: search"></span> Servers</a>
    </div>
</div>
</div>
{#if $location == '/' || /^\/friend\/([0-9]+)/i.test($location)}
<FriendList />
{:else if $location == '/servers'}
<TrendingServers />
{:else}
<ServerRooms />
{/if}