<script>
import ServerListElement from './serverListElement.svelte'
import { link, location, push } from 'svelte-spa-router'
import {activeServerId, currentRouteParams} from '../store.js'
import {beforeUpdate} from 'svelte'

$: if($location == '/'){
    activeServerId.set(0)
}
let serverList
let servers = [
    {
        id: 1,
        name: 'CyberPunk 2077',
        img: 'imgs/cyberpunk-2077-keyart-1220x686.jpg',
        verified: true,
        roomId: 1,
    },
    {
        id: 2,
        name: 'PUBG',
        img: 'imgs/PUBG-Feature-640x353.jpg',
        verified: true,
        roomId: 1,
    },
    {
        id: 3,
        name: 'CyberPunk 2077',
        img: 'imgs/avatar.jpg',
        verified: false,
        roomId: 1,
    },
    {
        id: 4,
        name: 'MINECRAFT',
        img: 'imgs/minecraft.jpg',
        verified: true,
        roomId: 1,
    },
    {
        id: 5,
        name: 'CyberPunk 2077',
        img: 'imgs/minecraft.jpg',
        verified: false,
        roomId: 1,
    },
    {
        id: 6,
        name: 'CyberPunk 2077',
        img: 'imgs/cyberpunk-2077-keyart-1220x686.jpg',
        verified: false,
        roomId: 1,
    },
    {
        id: 7,
        name: 'PUBG',
        img: 'imgs/PUBG-Feature-640x353.jpg',
        verified: false,
        roomId: 1,
    },
    {
        id: 8,
        name: 'CyberPunk 2077',
        img: 'imgs/avatar.jpg',
        verified: false,
        roomId: 1,
    },
    {
        id: 9,
        name: 'CyberPunk 2077',
        img: 'imgs/avatar.jpg',
        verified: false,
        roomId: 1,
    },
    {
        id: 10,
        name: 'CyberPunk 2077',
        img: 'imgs/avatar.jpg',
        verified: false,
        roomId: 1,
    },
]

if($currentRouteParams !== null){
    activeServerId.set($currentRouteParams.serverId)
}

let handleSelectServer = async (event) => {
    await activeServerId.set(event.detail.serverId)
    let selectedServerElement = await servers.find(e => e.id === event.detail.serverId)
    let resetServerPos = new Promise(async (res, rej) => {
        let tmpServers = await servers.filter((e) => e.id !== event.detail.serverId)
        servers = await [selectedServerElement, ...tmpServers]
        serverList.scrollTop = 0
        res()
    })
    resetServerPos.then(()=>push('/chat/'+event.detail.serverId+'/'+event.detail.roomId))
}
</script>
<style>
    #serverList {
        height: 80%;
        /* overflow-y: auto;
        overflow-x: hidden; */
        padding-top: 5px;
    }

    #add-server,
    #logo-icon,
    #settings-icon,
    #logout-icon {
        padding: 5px;
    }

    #add-server:hover,
    #logo-icon:hover,
    #settings-icon:hover,
    #logout-icon:hover {
        background-color: #4a9ff5;
        border-radius: 5px;
    }

    #siteLogoDiv {
        position:sticky;
        top:0;
        z-index:1002;
        background-color:#4a9ff5;
    }
    #siteSettings {
        position:sticky;
        bottom:0;
        z-index:1002;
        background-color:#4a9ff5;
    }

    @media only screen and (min-width: 768px) {
        #serverList {
            overflow: hidden;
        }
        #serverList:hover {
            overflow-y: auto;
            scrollbar-width: none;
            /* Firefox */
        }

        #serverList:hover::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
        #siteLogoDiv, #siteSettings {
            background-color:#1b93f9;
        }
    }
</style>
<div class="uk-flex uk-flex-column" style="height: 100%;">
    <div id="siteLogoDiv">
        <div style="padding:5px;">
            <a href="/" use:link>
                <span uk-icon="icon: uikit; ratio: 2" uk-tooltip="title:4sparrow;pos:left" id="logo-icon"></span>
            </a>
            {#if $location == '/'}
                <div class="uk-background-secondary uk-light">Active</div>
            {/if}
        </div>

        <div style="padding:5px;">
            <span uk-icon="icon: plus; ratio: 2" uk-tooltip="title:Create Server;pos:left" id="add-server" uk-toggle="target: #createServerModal"></span>
        </div>
        <div id="createServerModal" class="uk-modal-full" uk-modal>
            <div class="uk-modal-dialog" style="height:100%;">
                <button class="uk-modal-close-full" type="button" uk-close>ESC <span class="uk-close-large" style="margin-left: 5px;"></span></button>
                <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
                    <div class="uk-flex uk-flex-column uk-background-secondary uk-light"  style="padding:15% 10%;height:100vh;">
                        <h3>CREATE A SERVER</h3>
                        <div class="uk-margin-small">
                            <input type="text" class="uk-input" placeholder="Server Name...">
                        </div>
                        <div>Server Type:</div>
                        <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                            <label><input class="uk-radio" type="radio" name="serverType"> Public</label>
                            <label><input class="uk-radio" type="radio" name="serverType"> Private</label>
                        </div>
                        <div>
                            <button class="uk-button uk-button-secondary">Add Server</button>
                        </div>
                    </div>
                    <div class="uk-background-default uk-dark" style="padding:15% 10%;height:100vh;">
                        <h3>JOIN AN EXISTING SERVER</h3>
                        <div class="uk-margin-small">
                            <input type="text" class="uk-input" placeholder="Enter an invite code">
                        </div>
                        <p>Use an invitation code to join an existing server.</p>
                        <p>The invite code will look something like these: </p>
                        <ul class="uk-list uk-list-bullet">
                            <li><b>For Unverified Server:</b> 46Juzcyx</li>
                            <li><b>For Verified Server:</b> server_name</li>
                        </ul>
                        <div>
                            <button class="uk-button uk-button-secondary">Join</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <h6 style="font-family: 'Open Sans'; padding-top: 15px;">Servers</h6> -->
    <div id="serverList" bind:this={serverList}>
        {#each servers as server, i}
            <ServerListElement server="{server}" on:message={handleSelectServer} />
        {/each}
        <div id="siteSettings">
            <div style="padding:5px;">
                <span id="settings-icon" uk-icon="icon: settings; ratio: 2" uk-tooltip="title:Settings;pos:left"></span>
            </div>
            <div style="padding:5px;">
                <span id="logout-icon" uk-icon="icon: sign-out; ratio: 2" uk-tooltip="title:Logout;pos:left"></span>
            </div>
        </div>
    </div>
</div>