<style>
    img {
        object-fit: cover;
        width: 50px;
        height: 50px;
    }
    #dialog-body {
        margin: 30px 0;
    }
</style>
<div class="uk-modal-dialog uk-modal-body" id="dialog-body">
    <button class="uk-modal-close-default" type="button" uk-close></button>

    <div class="uk-flex uk-flex-column">
        <h5 class="mb-0">INVITE FRIENDS TO Cyberpunk2077
        </h5>
        <form class="uk-search uk-search-default uk-width-1-1" style="margin: 10px 0;">
            <a href="" class="uk-search-icon-flip" uk-search-icon></a>
            <input class="uk-search-input" type="search" placeholder="Search for your friends, mates...">
        </form>
        <div style="width:100%;height:150px;overflow-x:hidden;overflow-y:auto;">
            <ul class="uk-list">
                <li class="uk-flex uk-flex-wrap uk-flex-wrap-around">
                    <div class="uk-width-3-4 uk-flex uk-flex-middle">
                        <img src="imgs/avatar.jpg" alt="">
                        <div style="padding-left:10px;font-size:15px;">Hasib</div>
                    </div>
                    <div class="uk-width-1-4 uk-flex uk-flex-middle uk-flex-center">
                        <button class="uk-button uk-button-primary uk-light uk-button-small">Invite</button>
                    </div>
                </li>
                <li class="uk-flex uk-flex-wrap uk-flex-wrap-around">
                    <div class="uk-width-3-4 uk-flex uk-flex-middle">
                        <img src="imgs/avatar.jpg" alt="">
                        <div style="padding-left:10px;font-size:15px;">Hasib</div>
                    </div>
                    <div class="uk-width-1-4 uk-flex uk-flex-middle uk-flex-center">
                        <button class="uk-button uk-button-primary uk-light uk-button-small">Invite</button>
                    </div>
                </li>
                <li class="uk-flex uk-flex-wrap uk-flex-wrap-around">
                    <div class="uk-width-3-4 uk-flex uk-flex-middle">
                        <img src="imgs/avatar.jpg" alt="">
                        <div style="padding-left:10px;font-size:15px;">Hasib</div>
                    </div>
                    <div class="uk-width-1-4 uk-flex uk-flex-middle uk-flex-center">
                        <button class="uk-button uk-button-primary uk-light uk-button-small">Invite</button>
                    </div>
                </li>
                <li class="uk-flex uk-flex-wrap uk-flex-wrap-around">
                    <div class="uk-width-3-4 uk-flex uk-flex-middle">
                        <img src="imgs/avatar.jpg" alt="">
                        <div style="padding-left:10px;font-size:15px;">Hasib</div>
                    </div>
                    <div class="uk-width-1-4 uk-flex uk-flex-middle uk-flex-center">
                        <button class="uk-button uk-button-primary uk-light uk-button-small">Invite</button>
                    </div>
                </li>
                <li class="uk-flex uk-flex-wrap uk-flex-wrap-around">
                    <div class="uk-width-3-4 uk-flex uk-flex-middle">
                        <img src="imgs/avatar.jpg" alt="">
                        <div style="padding-left:10px;font-size:15px;">Hasib</div>
                    </div>
                    <div class="uk-width-1-4 uk-flex uk-flex-middle uk-flex-center">
                        <button class="uk-button uk-button-primary uk-light uk-button-small">Invite</button>
                    </div>
                </li>
                <li class="uk-flex uk-flex-wrap uk-flex-wrap-around">
                    <div class="uk-width-3-4 uk-flex uk-flex-middle">
                        <img src="imgs/avatar.jpg" alt="">
                        <div style="padding-left:10px;font-size:15px;">Hasib</div>
                    </div>
                    <div class="uk-width-1-4 uk-flex uk-flex-middle uk-flex-center">
                        <button class="uk-button uk-button-primary uk-light uk-button-small">Invite</button>
                    </div>
                </li>
                <li class="uk-flex uk-flex-wrap uk-flex-wrap-around">
                    <div class="uk-width-3-4 uk-flex uk-flex-middle">
                        <img src="imgs/avatar.jpg" alt="">
                        <div style="padding-left:10px;font-size:15px;">Hasib</div>
                    </div>
                    <div class="uk-width-1-4 uk-flex uk-flex-middle uk-flex-center">
                        <button class="uk-button uk-button-primary uk-light uk-button-small">Invite</button>
                    </div>
                </li>
                <li class="uk-flex uk-flex-wrap uk-flex-wrap-around">
                    <div class="uk-width-3-4 uk-flex uk-flex-middle">
                        <img src="imgs/avatar.jpg" alt="">
                        <div style="padding-left:10px;font-size:15px;">Hasib</div>
                    </div>
                    <div class="uk-width-1-4 uk-flex uk-flex-middle uk-flex-center">
                        <button class="uk-button uk-button-primary uk-light uk-button-small">Invite</button>
                    </div>
                </li>
            </ul>
        </div>
        <hr class="uk-divider-icon">
        <input type="text" class="uk-input" style="margin-bottom:10px;" value="46Juzcyx" readonly />
        <button class="uk-button uk-button-secondary"><span uk-icon="icon: link"></span>
            Copy Invite Code</button>
    </div>
</div>