<script>
    import {
        link
    } from 'svelte-spa-router'
    import ManageCategory from './manageCategory.svelte'
    import RoomInviteManage from './roomInviteManage.svelte'
    import {isMobile} from '../store.js'

    let categorySettingsMenu
    let roomSettingsMenu

    let displayRoomSettings = () => {
        UIkit.modal(roomSettingsMenu).show();
        return false
    }
    let displayCategorySettings = () => {
        UIkit.modal(categorySettingsMenu).show();
        return false
    }
    
</script>
<style>
    img {
        object-fit: cover;
        width: 50px;
        height: 50px;
    }

    a {
        color: white;
        text-decoration: none;
        font-size: 14px;
        display: block;
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #roomsTitle {
            margin-left: 0;
        }
        #roomDropdown {
            width: auto;
        }
        #room-icon {
            position: absolute;
            right: 0;
        }
        #roomListWrapper {
            height: 76%;
            padding-left: 0;
        }
        #roomList {
            height: 100%;
            /* overflow-y: auto;
            overflow-x: hidden;
            scrollbar-width: auto; */
        }
        .activeRoom {
            background-color: #1b93f9;
            padding: 5px;
        }
        

    #roomList li {
        width: 95%;
        padding: 4% 3%;
    }

    #roomList li:hover {
        background-color: #1b93f9;
    }

    /* #manage-room-list div {
    padding: 5px;
}
#manage-room-list div:hover {
    background-color: #f8f8f8;
    cursor: pointer;
} */

    
    @media only screen and (min-width: 768px) {
        .activeRoom {
            background-color: #0787f5;
            padding: 5px;
        }
        #roomsTitle {
            margin-left: 15px;
        }

        #roomList {
            overflow-x: hidden;
            overflow-y: hidden;
            padding-left: 10px;
        }

        #roomList:hover {
            overflow-y: auto;
            scrollbar-width: none;
            /* Firefox */
        }

        #roomList:hover::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
        #roomDropdown {
            width: 400px;
        }
        #room-icon {
            right: 5px;
        }

        #room-icon:hover {
            background-color: #1b93f9;
            border-radius: 5px;
        }
        
    }
</style>
<div class="uk-inline uk-flex" style="font-family: 'Open Sans'; font-size: 15px;width:100%;">
    <div class="uk-inline">
        <span id="roomsTitle" uk-icon="icon: thumbnails"></span> Rooms
    </div>
    <div id="room-icon">
        <span uk-icon="icon: more-vertical" style="padding:5px;"></span>
        <div uk-dropdown="animation: uk-animation-slide-top-small; mode:click; duration: 300;pos: {(isMobile)?'left-center':'bottom-left'}"
            class="uk-padding-small uk-background-primary uk-light" id="roomDropdown">
            <!-- <div class="uk-flex uk-flex-column uk-width-1-1" id="manage-room-list">
                <div class="uk-inline">
                    Create Room
                    <span uk-icon="icon: plus-circle" class="uk-position-right" style="padding:5px;"></span>
                </div>
                <div class="uk-inline">
                    Create Category
                    <span uk-icon="icon: list" class="uk-position-right" style="padding:5px;"></span>
                </div>
            </div> -->
            <ul uk-accordion style="margin:0;">
                <li class="uk-open">
                    <a class="uk-accordion-title" style="font-size: 14px;padding:5px;">CREATE ROOM</a>
                    <div class="uk-accordion-content uk-flex uk-flex-column">
                        <input class="uk-input" style="margin-bottom:10px;" type="text" placeholder="Room name">
                        <button class="uk-button uk-button-secondary">
                            <span uk-icon="icon: plus-circle"></span>
                            CREATE
                        </button>
                    </div>
                    <hr class="uk-divider-icon">
                </li>

                <li>
                    <a class="uk-accordion-title" style="font-size: 14px;padding:5px;">CREATE CATEGORY</a>
                    <div class="uk-accordion-content uk-flex uk-flex-column">
                        <input class="uk-input" style="margin-bottom:10px;" type="text" placeholder="Room aategory">
                        <button class="uk-button uk-button-secondary">
                            <span uk-icon="icon: plus-circle"></span>
                            CREATE
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="uk-margin" id="roomListWrapper">

    <ul uk-accordion="multiple: true" id="roomList">
        <li class="uk-open">
            <a class="uk-accordion-title" on:contextmenu|preventDefault={displayCategorySettings}
                uk-tooltip="title:Right Click for Settings;pos:left">
                WELCOME
            </a>
            <div bind:this={categorySettingsMenu} uk-modal>
                <div class="uk-modal-dialog uk-modal-body">
                    <button class="uk-modal-close-default" type="button" uk-close></button>
                    <ManageCategory />
                </div>
            </div>
            <ul class="uk-accordion-content uk-list">
                <li>
                    <a href="/chat/1/1" id="s1r1" class="uk-inline activeRoom" use:link on:contextmenu|preventDefault={displayRoomSettings}
                        uk-tooltip="title:Right Click for More;pos:left">
                        <div uk-icon="icon: lock" style="position:absolute;top:5px;left:5px;width:8px;"></div> 
                        <span uk-icon="icon: hashtag"></span>
                        CyberPunk2077</a>
                    <div bind:this={roomSettingsMenu} uk-modal>
                        <RoomInviteManage />
                    </div>
                </li>
                <li>
                    <a href="/chat/1/2" id="s1r2" class="uk-inline" use:link>
                    <div uk-icon="icon: lock" style="position:absolute;top:0;left:0;width:8px;"></div>
                    <span uk-icon="icon: hashtag"></span> PUBG-guy</a>
                    <div style="margin-right:100%;" uk-dropdown="pos:left-center;">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed do eiusmod tempor incididunt.</div>
                </li>
                <li>
                    <a href="/chat/1/3" use:link>
                    <span uk-icon="icon: lock"></span> 
                    <span uk-icon="icon: hashtag"></span> Fifa-2020</a>
                    <div style="margin-right:100%;" uk-dropdown="pos:left-center;">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed do eiusmod tempor incididunt.</div>
                </li>
                <li>
                    <a href="/chat/1/4" use:link>
                    <span uk-icon="icon: hashtag"></span> Fortnite-gun</a>
                    <div style="margin-right:100%;" uk-dropdown="pos:left-center;">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed do eiusmod tempor incididunt.</div>
                </li>
                <li>
                    <a href="/chat/1/5" use:link><span uk-icon="icon: hashtag"></span> CyberPunk2077</a>
                    <div style="margin-right:100%;" uk-dropdown="pos:left-center;">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed do eiusmod tempor incididunt.</div>
                </li>
            </ul>
        </li>
        <li>
            <a class="uk-accordion-title">GAME CHAT</a>
            <ul class="uk-accordion-content uk-list">
                <li>
                    <a href="/chat/2/1" use:link><span uk-icon="icon: hashtag"></span> CyberPunk2077</a>
                    <div class="uk-background-secondary uk-light" style="margin-right:100%;width:300px;"
                        uk-dropdown="pos:left-center;">
                        <div class="uk-flex uk-flex-column">
                            <div><span uk-icon="icon: hashtag"></span> CyberPunk2077</div>
                            <br>
                            <input type="text" class="uk-input" value="https://getuikit.com/docs/icon" />
                            <br>
                            <button class="uk-button uk-button-small" style="color:#404040;"><span
                                    uk-icon="icon: link"></span> Copy link</button>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/chat/2/2" use:link><span uk-icon="icon: hashtag"></span> PUBG-guy</a>
                    <div style="margin-right:100%;" uk-dropdown="pos:left-center;">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed do eiusmod tempor incididunt.</div>
                </li>
                <li>
                    <a href="/chat/2/3" use:link><span uk-icon="icon: hashtag"></span> Fifa-2020</a>
                    <div style="margin-right:100%;" uk-dropdown="pos:left-center;">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed do eiusmod tempor incididunt.</div>
                </li>
                <li>
                    <a href="/chat/2/4" use:link><span uk-icon="icon: hashtag"></span> Fortnite-gun</a>
                    <div style="margin-right:100%;" uk-dropdown="pos:left-center;">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed do eiusmod tempor incididunt.</div>
                </li>
                <li>
                    <a href="/chat/2/5" use:link><span uk-icon="icon: hashtag"></span> CyberPunk2077</a>
                    <div style="margin-right:100%;" uk-dropdown="pos:left-center;">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed do eiusmod tempor incididunt.</div>
                </li>
            </ul>
        </li>
        <li class="uk-open">
            <a class="uk-accordion-title">NEWS</a>
            <ul class="uk-accordion-content uk-list">
                <li>
                    <a href="/chat/3/1" use:link><span uk-icon="icon: hashtag"></span> CyberPunk2077</a>
                    <div class="uk-background-secondary uk-light" style="margin-right:100%;width:300px;"
                        uk-dropdown="pos:left-center;">
                        <div class="uk-flex uk-flex-column">
                            <div><span uk-icon="icon: hashtag"></span> CyberPunk2077</div>
                            <br>
                            <input type="text" class="uk-input" value="https://getuikit.com/docs/icon" />
                            <br>
                            <button class="uk-button uk-button-small" style="color:#404040;"><span
                                    uk-icon="icon: link"></span> Copy link</button>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="/chat/3/2" use:link><span uk-icon="icon: hashtag"></span> PUBG-guy</a>
                    <div style="margin-right:100%;" uk-dropdown="pos:left-center;">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed do eiusmod tempor incididunt.</div>
                </li>
                <li>
                    <a href="/chat/3/3" use:link><span uk-icon="icon: hashtag"></span> Fifa-2020</a>
                    <div style="margin-right:100%;" uk-dropdown="pos:left-center;">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed do eiusmod tempor incididunt.</div>
                </li>
                <li>
                    <a href="/chat/3/4" use:link><span uk-icon="icon: hashtag"></span> Fortnite-gun</a>
                    <div style="margin-right:100%;" uk-dropdown="pos:left-center;">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed do eiusmod tempor incididunt.</div>
                </li>
                <li>
                    <a href="/chat/3/5" use:link><span uk-icon="icon: hashtag"></span> CyberPunk2077</a>
                    <div style="margin-right:100%;" uk-dropdown="pos:left-center;">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed do eiusmod tempor incididunt.</div>
                </li>
            </ul>
        </li>
    </ul>
</div>