<script>
    export let server
    import {
        createEventDispatcher,
        onDestroy
    } from 'svelte';
    import ServerInviteManage from './serverInviteManage.svelte'
    // import 'lazysizes';
    import {
        link
    } from 'svelte-spa-router'
    import {
        activeServerId
    } from '../store.js'

    const dispatch = createEventDispatcher();

    let selectServer = () => {

        console.log(server.id)
        dispatch('message', {
            serverId: server.id,
            roomId: server.roomId,
        });
    }

    $: myActiveServer = $activeServerId

    onDestroy(() => {
        activeServerId.set(0)
    })

    // Icon preview
    let server_icon_preview

    function readFile() {
        if (this.files && this.files[0]) {
            var FR = new FileReader();

            FR.addEventListener("load", function (e) {
                server_icon_preview.src = e.target.result;
            });

            FR.readAsDataURL(this.files[0]);
        }
    }
</script>
<style>
    img {
        object-fit: cover;
        width: 50px;
        height: 50px;
    }

    a {
        text-decoration: none;
    }

    #serverModal ul li {
        padding: 10px;
    }

    #serverModal ul li:hover {
        background-color: #f8f8f8;
    }

    #serverModal ul li>a span {
        margin-right: 10px;
    }

    #serverModal ul li>a {
        display: block;
    }

    #manageServer {
        visibility: hidden;
        position: absolute;
        top: -5px;
        right: -5px;
        width: 10px;
        padding: 2px;
        color: black;
        border-radius: 50px;
        background-color: #ffffffd1;
    }

    .serverVerified {
        position: absolute;
        top: -5px;
        left: -5px;
        width: 10px;
        padding: 2px;
        border-radius: 50px;
        background-color: #222222;
    }

    #manageServerDiv {
        margin-bottom: 7px;
    }

    #manageServerDiv:hover #manageServer {
        visibility: visible;
    }
</style>
<div class="uk-inline" id="manageServerDiv">
    {#if server.verified}
        <div class="serverVerified" uk-icon="icon: check" uk-tooltip="title:Verified;pos:left"></div>
    {/if}
    <a href="#serverModal" id="manageServer" uk-icon="icon: chevron-left" uk-toggle></a>
    <div id="serverModal" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <ul class="uk-list">
                <li style="width:100%;">
                    <a href="#invitePeopleModal" uk-toggle>
                        <span uk-icon="icon: plus"></span> Invite People
                    </a>
                    <div id="invitePeopleModal" uk-modal>
                        <ServerInviteManage />
                    </div>
                </li>
                <li class="uk-inline uk-width-expand">
                    <a href="#serverSettingsModal" uk-toggle>
                        <span uk-icon="icon: server"></span> Server Settings
                    </a>
                    <div id="serverSettingsModal" class="uk-modal-full" style="height:100vh;margin-bottom:0;" uk-modal>
                        <div class="uk-modal-dialog">
                            <button class="uk-modal-close-full" type="button" uk-close>ESC <span class="uk-close-large"
                                    style="margin-left: 5px;"></span></button>
                            <div class="uk-container uk-padding-large" uk-height-viewport>
                                <h4>Cyberpunk2077</h4>
                                <ul class="uk-subnav" uk-tab>
                                    <li><a href="#">Overview</a></li>
                                    <li><a href="#">Members</a></li>
                                    <li><a href="#">Roles</a></li>
                                    <li><a href="#">Moderation</a></li>
                                    <li><a href="#">Audit Log</a></li>
                                    <li><a href="#" class="uk-text-danger">Delete Server</a></li>
                                </ul>

                                <ul class="uk-switcher uk-margin">
                                    <li class="uk-flex">
                                        <div class="uk-width-1-5 uk-inline">
                                            <h4>Change Icon</h4>
                                            <div class="uk-margin">
                                                <div style="margin-bottom:10px;">
                                                    <img bind:this={server_icon_preview} style="width:100px;height:100px;" alt="" />
                                                </div>

                                                <div uk-form-custom>
                                                    <input type="file" on:change={readFile} style="font-size:20px;">
                                                    <button class="uk-button uk-button-default" type="button"
                                                        tabindex="-1">Select</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-width-2-5 uk-flex uk-flex-column">
                                            <h6>SERVER NAME</h6>
                                            <input type="text" class="uk-input" style="margin-bottom:10px;" value="CyberPunk2077">
                                            <button class="uk-button uk-button-secondary uk-light">Update</button>
                                        </div>
                                    </li>
                                    <li>Hello again!</li>
                                    <li>Bazinga!</li>
                                    <li>Hello!</li>
                                    <li>Hello again!</li>
                                    <li>Bazinga!</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li><span uk-icon="icon: bell"></span> Notification Settings</li>
                <li style="color:red;"><span uk-icon="icon: sign-out"></span> Leave Server</li>
            </ul>
        </div>
    </div>
    <a uk-tooltip="title:{server.name};pos:left" on:click|preventDefault={selectServer}>
        <img src="{server.img}" class="uk-comment-avatar" alt="">
    </a>
    {#if myActiveServer === server.id}
        <div class="uk-background-secondary uk-light">Active</div>
    {/if}
</div>