<script>
import {
        link
    } from 'svelte-spa-router'
</script>
<style>
    img {
        object-fit: cover;
        width: 38px;
        height: 38px;
    }

    #roomList {
        height: 76%;
    }

    #serversList {
        height: 100%;
        /* overflow-x: hidden;
        overflow-y: auto;
        scrollbar-width: auto; */
    }


    #serversList a {
        color: white;
        text-decoration: none;
        font-size: 14px;
        display: block;
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #serversList li {
        width: 95%;
        padding: 4% 3%;
    }

    #serversList li:hover {
        background-color: #1b93f9;
    }

    @media only screen and (min-width: 768px) {
        #serversList {
            overflow-y: hidden;
            overflow-x: hidden;
            padding-left: 10px;
        }
        #serversList:hover {
            overflow-y: auto;
            scrollbar-width: none;
            /* Firefox */
        }
        #serversList:hover::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }

    /* #manage-room-list div {
    padding: 5px;
}
#manage-room-list div:hover {
    background-color: #f8f8f8;
    cursor: pointer;
} */
</style>
<div class="uk-inline uk-flex" style="font-family: 'Open Sans'; font-size: 15px;width:100%;">
    <div class="uk-inline">
        <span style="margin-left:15px;" uk-icon="icon: album"></span> Trending Rooms
    </div>
</div>
<div class="uk-margin" id="roomList">

    <ul class="uk-list" id="serversList" style="margin-bottom:200px;">
        <li>
            <a href="/chat/1/1" use:link>
                <div class="uk-flex">
                    <img class="lazyload" data-src="imgs/cyberpunk-2077-keyart-1220x686.jpg" alt="">
                    <span class="uk-flex uk-flex-column" style="padding-left: 5px;width:80%;">
                        CyberPunk 2077
                        <div style="color:#ffffffad;"># update-news</div>
                    </span>
                </div>
            </a>
        </li>
    </ul>
</div>