<script>
import {socket,currentVideoCallingRoom} from '../store.js'

let endVideoCalling = ()=>{
    socket.emit('end_video_calling',currentVideoCallingRoom)
}
</script>
<style>
.uk-button {
    border-radius: 50px;
    padding: 0 10px;
}
</style>
<button class="uk-button uk-button-danger" on:click={endVideoCalling}>
    <span uk-icon="icon: receiver"></span>
</button>