<style>
    .uk-button {
        border-radius: 50px;
        padding: 0 10px;
    }
</style>

<button class="uk-button uk-button-default">
    <span uk-icon="icon: microphone"></span>
</button>
<button class="uk-button uk-button-danger"><span uk-icon="icon: receiver"></span></button>
<button class="uk-button uk-button-primary"><span uk-icon="icon: video-camera"></span></button>
<button class="uk-button uk-button-secondary"><span uk-icon="icon: image"></span></button>