<script>
    import ServersList from '../../components/servers.svelte'
    import ServerRooms from '../../components/rooms.svelte'
    import ChatEditor from '../../components/chatEditor.svelte'
    import OtherRoomsFeeds from '../../components/otherRoomsFeeds.svelte'
    import ServerCard from '../../components/serverCards/card.svelte'
    import {activeServerId} from '../../store.js'
    import {afterUpdate} from 'svelte'

    afterUpdate(() => {
        activeServerId.set(0)
    })

    let servers = [
        {
            name: 'CyberPunk 2077',
            img: 'imgs/cyberpunk-2077-keyart-1220x686.jpg',
            online: '6,645',
            total_members: '35,546',
        },
        {
            name: 'Player Unknown Battle Ground',
            img: 'imgs/PUBG-Feature-640x353.jpg',
            online: '2,456',
            total_members: '23,435',
        },
        {
            name: 'CyberPunk 2077',
            img: 'imgs/cyberpunk-2077-keyart-1220x686.jpg',
            online: '6,645',
            total_members: '35,546',
        },
        {
            name: 'Player Unknown Battle Ground',
            img: 'imgs/PUBG-Feature-640x353.jpg',
            online: '2,456',
            total_members: '23,435',
        },
        {
            name: 'CyberPunk 2077',
            img: 'imgs/cyberpunk-2077-keyart-1220x686.jpg',
            online: '6,645',
            total_members: '35,546',
        },
        {
            name: 'Player Unknown Battle Ground',
            img: 'imgs/PUBG-Feature-640x353.jpg',
            online: '2,456',
            total_members: '23,435',
        }
    ]
</script>

<style>
    img {
        object-fit: cover;
        width: 40px;
        height: 40px;
    }

    #feed-grid {
        display: none;
        width: 250px;
        height: 100vh;
    }

    #findJoin {
        margin: 30px 0;
        font-size: 20px;
    }

    #me-grid {
        height: 100%;
        padding: 10px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    #mobileTopBar {
        height: 50px;
        position: sticky;
        top: 0;
        z-index: 2;
    }
    /* #serverMobileMenuBtn, #roomMembersBtn {
		display: none;
	} */

    @media only screen and (min-width: 768px) {

        /* For mobile phones: */
        #me-grid {
            height: 100%;
            min-width: 400px;
            padding: 10px;
            overflow: hidden;
        }

        #me-grid:hover {
            overflow-y: auto;
            scrollbar-width: none;
            /* Firefox */
        }

        #me-grid:hover::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
        #mobileTopBar {
            display: none;
        }
        #feed-grid {
            display: flex;
        }
    }
</style>

<div class="uk-width-expand" id="me-grid">
<div class="uk-navbar uk-navbar-container" id="mobileTopBar" uk-navbar>

                <div class="uk-navbar-left">
                    <span uk-icon="icon: menu" class="uk-padding-small" uk-toggle="target: #offcanvas-flip"></span>
                </div>
                <div class="uk-navbar-center" style="font-size: 20px;">
                    <span uk-icon="icon: uikit" style="color:#4a9ff5;padding-right:5%;"></span> 4sparrow
                </div>
    </div>
    <div class="uk-container">
        <div id="findJoin">Find and Join Public Servers!!</div>
        <div class="uk-margin uk-width-1-1">
            <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: search"></span>
                <input class="uk-input" type="text" placeholder="Search servers..">
            </div>
        </div>
        <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
        {#each servers as server}
            <ServerCard {server} />
        {/each}
            <div>
                <div class="uk-card uk-card-primary uk-card-body">
                    <h3 class="uk-card-title">Primary</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-secondary uk-card-body">
                    <h3 class="uk-card-title">Secondary</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-primary uk-card-body">
                    <h3 class="uk-card-title">Primary</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-secondary uk-card-body">
                    <h3 class="uk-card-title">Secondary</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-primary uk-card-body">
                    <h3 class="uk-card-title">Primary</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-secondary uk-card-body">
                    <h3 class="uk-card-title">Secondary</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-primary uk-card-body">
                    <h3 class="uk-card-title">Primary</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-secondary uk-card-body">
                    <h3 class="uk-card-title">Secondary</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-primary uk-card-body">
                    <h3 class="uk-card-title">Primary</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-secondary uk-card-body">
                    <h3 class="uk-card-title">Secondary</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="feed-grid">
    <OtherRoomsFeeds />
</div>