<script>
	export let name;
	import Router, {
		location,
		push
	} from 'svelte-spa-router'
	import routes from './routes'
	import ServersList from './components/servers.svelte'
	import ServerRooms from './components/rooms.svelte'
	import ChatOffcanvasFlipRight from './components/chat_offcanvas_right.svelte'
	import DraggableVideoChat from './components/draggableVideoChat.svelte'
	import {
		socket,
		callAccepted,
		callActive,
		mySocketRoom,
		draggableVideoVisible,
		isMobile,
	} from './store.js'

	// import {onMount} from 'svelte'

	$: draggableVidWindow = $draggableVideoVisible

	//onMount(() => {
	socket.emit('join_my_room', {}, (room) => {
		console.log('mySocketRoom:', room)
		mySocketRoom.set(room)
	})
	//})

	let videoCallModal

	socket.on('friend_video_calling', (caller) => {
		UIkit.modal.confirm(
			'<div class="uk-text-center uk-margin-bottom"><img class="uk-comment-avatar" src="imgs/avatar.jpg" width="80" height="80" alt=""><p style="font-size:20px;">' +
			caller + ' calling...</p></div>', {
				labels: {
					ok: 'Answer',
					cancel: 'Decline'
				}
			}).then(function () {
			console.log('Confirmed.')
			callAccepted.set(true)
			callActive.set(false)
			socket.emit('video_call_accepted', {
				room: 'saro'
			})
			// route to video chat page
			if($isMobile)
				push('/videoCall/1') // if mobile
			else
				push('/friend/1')
		}, function () {
			console.log('Rejected.')
			callAccepted.set(false)
			callActive.set(false)
			// send response to caller
		});
	})
</script>

<style>
	/* For mobile phones: */
		#server-nav-grid {
			display: none;
		}

	/* .uk-offcanvas-bar {
		overflow-y: hidden;
	} */

	#serverListWrapper {
		background-color:#1b93f9;
	}

	#serverRoomWrapper {
		padding: 0px 0px 15px 0px;
		background-color: #4a9ff5;
	}

	.uk-offcanvas-bar {
			padding: 0;
		}

	@media only screen and (min-width: 768px) {
		#main-container {
			overflow: hidden;
		}
		#server-nav-grid {
			display: block;
			width: 250px;
			height: 100%;
		}
		
		#serverListWrapper {
			height: 100%;
		}
		#serverRoomWrapper {
			padding: 5px 0px;
			height: 100%;
		}
	}
</style>
<div id="offcanvas-flip" uk-offcanvas="mode:none;esc-close:true;overlay: true">
	<div class="uk-offcanvas-bar">
		<div class="uk-grid-collapse uk-height-1-1" uk-grid>
			<div class="uk-width-1-4 uk-text-center uk-light" id="serverRoomWrapper">
				<ServersList />
			</div>
			<div class="uk-width-3-4 uk-background-primary uk-light" style="padding:10px;" id="serverListWrapper">
				<ServerRooms />
			</div>
		</div>
	</div>
</div>
<div id="offcanvas-flip-right" uk-offcanvas="mode: none;esc-close:true;flip:true; overlay: true">
	<ChatOffcanvasFlipRight />
</div>
<div class="uk-grid-collapse uk-grid-match uk-height-1-1" uk-grid id="main-container">
	{#if draggableVidWindow && $callAccepted}
		<DraggableVideoChat />
	{/if}
	<Router {routes}/>
    <div id="server-nav-grid">
        <div class="uk-grid-collapse uk-height-1-1" uk-grid>
				<div class="uk-width-3-4 uk-light" id="serverRoomWrapper">
					<ServerRooms />
				</div>
				<div class="uk-width-1-4 uk-text-center uk-light" id="serverListWrapper">
					<ServersList />
				</div>
		</div>
    </div>
</div>