<script>
export let server

</script>
<style>
    img {
        object-fit: cover;
        width: 40px;
        height: 40px;
        margin-bottom: 10px;
    }
    .uk-card {
        padding: 20px;
    }
</style>
<div>
    <div class="uk-card uk-card-primary uk-card-body" style="background-image:url({server.img});background-repeat: no-repeat;background-size: cover;height:240px;position:relative;">
        <div style="width:100%;">
            <img src={server.img} style="border:1px solid #fff;" alt="{server.name}">
        </div>
        <div style="position:absolute;left:0;bottom:0;z-index:1;width:100%;background-image:linear-gradient(to bottom, rgba(255,0,0,0), rgb(2, 2, 2));">
            <div style="padding:15px;">
                <div style="color: #fff;font-size: 17px;">
                    <span uk-icon="icon: check" style="width:10px;padding:2px;border-radius:50px;background-color:rgb(74, 159, 245);"></span>
                    {server.name}
                </div>
                <div style="margin-top: 10px;margin-bottom: 10px;">{server.online} members online</div>
                <div>{server.total_members} members joined</div>
                <button class="uk-button uk-button-default uk-button-small" style="margin-top: 10px;">View</button>
            </div>
        </div>
    </div>
</div>